<h2 class="p-text-center">{{"guide.guideIntroductionSearch.title"| translate}}</h2>

<div class="main-content p-grid guide-content">

    <div class="p-col-12 p-md-6 p-lg-6 text" tabindex="0">
        <h3>{{"guide.guideIntroductionSearch.subtitle1"| translate}}</h3>
        <p>
            {{"guide.guideIntroductionSearch.p1"| translate}}
        </p>
        <p>
            {{"guide.guideIntroductionSearch.p2"| translate}}
        </p>
    </div>

    <div class="p-col-12 p-md-6 p-lg-6" style="text-align:center">
        <video width="500" height="270" controls autoplay>
            <source src="assets/videos/Busqueda.mp4" type="video/mp4">
        </video>
    </div>
    <!----------------Separadores------------------>
    <div class=" p-col-12 p-md-6 p-lg-6 separador">
    </div>
    <div class=" p-col-12 p-md-6 p-lg-6 separador">
    </div>
    <!----------------Segunda fila------------------>

    
    <div class="p-col-12 p-md-6 p-lg-6 text" tabindex="0">
        <h3>{{"guide.guideIntroductionSearch.subtitle2"| translate}}</h3>
        <p>
            {{"guide.guideIntroductionSearch.p3"| translate}}
        </p>
        <p>
            {{"guide.guideIntroductionSearch.p4"| translate}}
        </p>
        <p>
            {{"guide.guideIntroductionSearch.p5"| translate}}
        </p>
    </div>
    
    <div class="p-col-12 p-md-6 p-lg-6" style="text-align:center">
        <video width="500" height="270" controls autoplay>
            <source src="assets/videos/PrevisualizacionOA.mp4" type="video/mp4">
        </video>
    </div>


</div>