.separador{
    margin: 5px;
}

.text{
    place-self: center;
    text-align: justify;
    h2{
        text-align: center;
    }
}
.main-content{
    overflow:scroll;
    height:400px;
}
    ::-webkit-scrollbar {
        display: none;
    }
