<div class="main-content p-grid guide-content">
    <div class="p-col-12 p-md-6 p-lg-6 " tabindex="0">
        <h2>Mis obejtos de aprendizaje</h2>
        <h3>Visualización de objetos de aprendizaje dentro de la plataforma.</h3>
        <p>
            Dentro del menú podemos observar un apartado de mis objetos de aprendizaje, el cual lista todos los objetos
            de aprendizaje que son subidos por su persona.
        </p>
        <p>
            Puedes visualizar las evaluaciones, como son: evaluación preliminar, evaluación realizada por el estudiante
            y la evaluación realizada por el experto colaborado.
        </p>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6" style="text-align:center">
        <video width="600" height="100%" controls autoplay>
            <source src="assets/videos/MisOASUp.mp4" type="video/mp4">
        </video>
    </div>
    <!----------------Separadores------------------>
    <div class=" p-col-12 p-md-6 p-lg-6 separador">
    </div>
    <div class=" p-col-12 p-md-6 p-lg-6 separador">
    </div>
    <!----------------Columna uno ------------------>
    <div class="p-col-12 p-md-6 p-lg-6" style="text-align:center">
        <video width="600" height="100%" controls autoplay>
            <source src="assets/videos/VerEvaluacionEXT.mp4" type="video/mp4">
        </video>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6 text" tabindex="0">
        <h3>Visualización de evaluaciones </h3>
        <p>
            En este apartado podremos observar las evaluaciones, realizadas por el estudiante, por el experto
            colaborador o la evaluación automática realizada por la plataforma.
        </p>
        <p>
            Se nos presentara un resumen de la evaluación con su grafica correspondiente.
        </p>
    </div>
</div>