<div class="main-content p-grid guide-content">
    <div class="p-col-12 p-md-6 p-lg-6 " tabindex="0">
        <h2>{{"guideTeacher.myObjects.title"| translate}}</h2>
        <h3>{{"guideTeacher.myObjects.subtitle1"| translate}}</h3>
        <p>
            {{"guideTeacher.myObjects.p1"| translate}}
        </p>
        <p>
            {{"guideTeacher.myObjects.p2"| translate}}
        </p>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6" style="text-align:center">
        <video width="600" height="100%" controls autoplay>
            <source src="assets/videos/MisOASUp.mp4" type="video/mp4">
        </video>
    </div>
    <!----------------Separadores------------------>
    <div class=" p-col-12 p-md-6 p-lg-6 separador">
    </div>
    <div class=" p-col-12 p-md-6 p-lg-6 separador">
    </div>
    <!----------------Columna uno ------------------>
    <div class="p-col-12 p-md-6 p-lg-6" style="text-align:center">
        <video width="600" height="100%" controls autoplay>
            <source src="assets/videos/VerEvaluacionEXT.mp4" type="video/mp4">
        </video>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6 text" tabindex="0">
        <h3>{{"guideTeacher.myObjects.subtitle2"| translate}}</h3>
        <p>
            {{"guideTeacher.myObjects.p3"| translate}}
        </p>
        <p>
            {{"guideTeacher.myObjects.p4"| translate}}
        </p>
    </div>
</div>