@if (evaluationItems.length > 0) {
  <div class="evaluation-summary">
    @for (item of evaluationItems; track trackByConcept($index, item)) {
      <article
        class="evaluation-summary__item"
        >
        <h4 class="evaluation-summary__concept">{{ item.concept }}</h4>
        <div class="evaluation-summary__score">
          <i class="pi pi-star-fill"></i>
          <span>{{ item.average | number:'1.1-2' }}</span>
        </div>
      </article>
    }
  </div>
} @else {
  <p class="evaluation-summary__empty">
    No hay promedios de evaluación disponibles.
  </p>
}

