.comment-form {
  text-align: right;
  textarea {
    width: 100%;
    resize: vertical;
  }
}

.comments {
  .comment-item {
    display: flex;
    margin-top: 15px;

    .cooment-detail {
      h6 {
        margin: 0;
      }
      span {
        opacity: 0.4;
        font-size: 0.8rem;
      }
      p {
        margin-top: 5px;
      }
    }
  }
}

:host ::ng-deep .p-avatar {
  img {
    border-radius: 50%;
  }
}

.comments-empty{
  //background-color: red;
  text-align: center;
  margin: 20px 0;
  opacity: 0.5;
}
