/*:host ::ng-deep .p-tabview-nav{       

    li:nth-child(1){a{color: seagreen !important;}}
    li:nth-child(2){a{color:sienna !important;}}
    li:nth-child(3){a{color: red !important;}}
    
  }*/

.tdid{
  overflow: hidden;
  color: #3B5B68;
  }

:host ::ng-deep table{
  width: auto !important;
  background-color: aqua;
  

}
