<div class="main-content p-grid guide-content">
    <div class="p-col-12 p-md-6 p-lg-6 text" tabindex="0">
        <h2>{{"guideExpert.title"| translate}}</h2>
        <h3>{{"guideExpert.subtitle1"| translate}}</h3>
        <p>
            {{"guideExpert.p1"| translate}}
        </p>    
    </div>
    <div class="p-col-12 p-md-6 p-lg-6" style="text-align:center">
        <video width="600" height="100%" controls autoplay>
            <source src="assets/videos/qua-and-notOA.mp4" type="video/mp4">
        </video>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6" style="text-align:center">
        <video width="600" height="100%" controls autoplay>
            <source src="assets/videos/evaluationOAExpert.mp4" type="video/mp4">
        </video>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6 text" tabindex="0">
        <h3>{{"guideExpert.subtitle2"| translate}}</h3>
        <p>
            {{"guideExpert.p2"| translate}}
        </p>    
    </div>
   
    <div class="p-col-12 p-md-6 p-lg-6 text" tabindex="0">
        <h3>{{"guideExpert.subtitle3"| translate}}</h3>
        <p>
            {{"guideExpert.p3"| translate}}
        </p>    
    </div>

    <div class="p-col-12 p-md-6 p-lg-6" style="text-align:center">
        <video width="600" height="100%" controls autoplay>
            <source src="assets/videos/OaRatingByMe.mp4" type="video/mp4">
        </video>
    </div>
</div>