<div class="service-content">
    <div class="bg" style="background-image: url('assets/img/edutech.jpg');">
        <div class="main-content p-grid">
            <div class="p-col-12 p-md-8 p-lg-9">
                <div class="box content-image">
                   
                </div>
            </div>
            <div class="p-col-12 p-md-4 p-lg-3">
                <div class="box content-image">
                    
                </div>
            </div>
    
        </div>
    

    </div>
    
</div>