<div class="main-content about-us">
    <div class="p-grid">
        <div class="p-col-12 p-md-6 p-lg-7">
            <img src="assets/img/developW.svg" alt="Imagen hace referecia el trabajo en equipo" tabindex="0">
        </div>
        <div class="p-col-12 p-md-6 p-lg-3" tabindex="0">
            <div class="content-info">
                <h2>{{"developers.title" | translate}}</h2>
                <p>{{"developers.description" | translate}}</p>
            </div>
        </div>
    </div>
    <h2 tabindex="0" >{{"developers.subtitle" | translate}}</h2>
    <div class="p-grid">
        <div class="p-col-12 p-md-4 p-lg-3" tabindex="0">
            <p-card header="Ing. Ángel Paqui" subheader="Desarrollo Backend" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <img alt="Card" src="assets/img/develop2.png">
                </ng-template>
                <p>Estudiante de la Universidad Politécnica Salesiana sede Cuenca</p>
                <ng-template pTemplate="footer">
                    <div class="email">
                        <i class="pi pi-envelope"></i> <span><a href="mailto:apaquig@est.ups.edu.ec">
                                apaquig@est.ups.edu.ec</a></span>
                    </div>
                    <div class="email">
                        <i class="pi pi-envelope"></i> <span><a href="mailto:angelpaqui36@gmail.com">
                                angelpaqui36@gmail.com</a></span>
                    </div>
                </ng-template>
            </p-card>
        </div>
        <div class="p-col-12 p-md-4 p-lg-3" tabindex="0">
            <p-card header="Ing. Claudio Maldonado" subheader="Desarrollo Frontend" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <img alt="Card" src="assets/img/develop.png">
                </ng-template>
                <p>Ayudante de investigación de la Universidad Politécnica Salesiana sede Cuenca</p>
                <ng-template pTemplate="footer">
                    <div class="email">
                        <i class="pi pi-envelope"></i> <span><a href="mailto:cmaldonadom3@est.ups.edu.ec">
                                cmaldonadom3@est.ups.edu.ec</a></span>
                    </div>
                    <div class="email">
                        <i class="pi pi-envelope"></i> <span><a href="mailto:claudio.mldo@outlook.com">
                                claudio.mldo@outlook.com</a></span>
                    </div>
                </ng-template>
            </p-card>
        </div>
        <div class="p-col-12 p-md-4 p-lg-3" tabindex="0">
            <p-card header="Ing. Edwin Marquez" subheader="Desarrollo Frontend y Backend" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <img alt="Card" src="assets/img/develop3.png">
                </ng-template>
                <p>Ayudante de investigación de la Universidad Politécnica Salesiana sede Cuenca</p>
                <ng-template pTemplate="footer">
                    <div class="email">
                        <i class="pi pi-envelope"></i> <span><a href="mailto:emarquezl@est.ups.edu.ec">
                                emarquezl@est.ups.edu.ec</a></span>
                    </div>
                    <div class="email">
                        <i class="pi pi-envelope"></i> <span><a href="mailto:edwi1999@hotmail.com">
                                edwi1999@hotmail.com</a></span>
                    </div>
                </ng-template>
            </p-card>
        </div>
        <div class="p-col-12 p-md-4 p-lg-3" tabindex="0">
            <p-card header="Ing. Bryam Chimbo" subheader="Desarrollo Backend y Frontend" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <img alt="Card" src="assets/img/develop2.png">
                </ng-template>
                <p>Estudiante de la Universidad Politécnica Salesiana sede Cuenca</p>
                <ng-template pTemplate="footer">
                    <div class="email">
                        <i class="pi pi-envelope"></i> <span><a href="mailto:bchimboa1@est.ups.edu.ec">
                                bchimboa1@est.ups.edu.ec</a></span>
                    </div>
                    <div class="email">
                        <i class="pi pi-envelope"></i> <span><a href="mailto:bry4mchimbo@gmail.com">
                                bry4mchimbo@gmail.com</a></span>
                    </div>
                </ng-template>
            </p-card>
        </div>
        <div class="p-col-12 p-md-4 p-lg-3" tabindex="0">
            <p-card header="Ing. Paola Ingavelez" subheader="Docente" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <img alt="Card" src="assets/img/developW.png">
                </ng-template>
                <p>Docente de la Universidad Politécnica Salesiana sede Cuenca</p>
                <ng-template pTemplate="footer">

                </ng-template>
            </p-card>
        </div>
        <div class="p-col-12 p-md-4 p-lg-3" tabindex="0">
            <p-card header="Ing. Ángel Pérez " subheader="Docente" styleClass="p-card-shadow">
                <ng-template pTemplate="header">
                    <img alt="Card" src="assets/img/develop1.png">
                </ng-template>
                <p>Docente de la Universidad Politécnica Salesiana sede Cuenca</p>
                <ng-template pTemplate="footer">

                </ng-template>
            </p-card>
        </div>
    </div>
</div>