<app-header [header_title]="'developers.title' | translate"></app-header>

<div class="main-content developers-page">
  <section class="developers-hero">
    <div class="developers-hero__media">
      <img
        src="assets/img/developW.svg"
        alt="{{ 'developers.teamImageAlt' | translate }}"
      />
    </div>

    <div class="developers-hero__copy" tabindex="0">
      <h2>{{ "developers.title" | translate }}</h2>
      <p>{{ "developers.description" | translate }}</p>
    </div>
  </section>

  <section class="developers-list">
    <div class="developers-list__heading" tabindex="0">
      <h2>{{ "developers.subtitle" | translate }}</h2>
      <p>{{ "developers.listDescription" | translate }}</p>
    </div>

    <div class="developers-grid">
      @for (developer of developers; track developer.name) {
        <p-card
          [header]="developer.name"
          [subheader]="developer.roleKey | translate"
          styleClass="developer-card"
        >
          <ng-template pTemplate="header">
            <img [alt]="developer.name" [src]="developer.image" />
          </ng-template>

          @if (developer.bioKey) {
            <p>{{ developer.bioKey | translate }}</p>
          }

          @if (developer.emails.length) {
            <ng-template pTemplate="footer">
              <div class="developer-emails">
                @for (emailAddress of developer.emails; track emailAddress) {
                  <div class="email" tabindex="0">
                    <i class="pi pi-envelope"></i>
                    <span>
                      <a [href]="'mailto:' + emailAddress">{{ emailAddress }}</a>
                    </span>
                  </div>
                }
              </div>
            </ng-template>
          }
        </p-card>
      }
    </div>
  </section>
</div>
