.header-component{
    background: #3B5B68;
    display: flex;
    align-items: center;
    place-content: center;
    max-height: 15vh;
    h2{
      color: #fff;
      font-weight: bold;
    }
  }
  