<div class="guide-exe">
    <section class="guide-exe__hero">
        <div class="guide-exe__hero-copy" tabindex="0">
            <p class="guide-exe__eyebrow">Guia de herramienta</p>
            <h1>eXeLearning</h1>
            <p class="guide-exe__intro">
                Revisa los pasos clave para crear y exportar tu objeto de aprendizaje con eXeLearning.
            </p>
            <a
                class="guide-exe__link"
                href="https://exelearning.net/"
                target="_blank"
                rel="noopener noreferrer"
            >
                https://exelearning.net/
            </a>
        </div>

        <div class="guide-exe__hero-media">
            <img src="/assets/img/exelearning.png" alt="Imagen de eXeLearning">
        </div>
    </section>

    <div class="guide-exe__steps">
        <section class="guide-step">
            <div class="guide-step__copy" tabindex="0">
                <p class="guide-step__number">{{'guide.exelearning.step' | translate}} 1#</p>
                <h2>{{'guide.exelearning.subtitle' | translate}}</h2>
                <p>{{'guide.exelearning.p1' |translate}}</p>
            </div>

            <div class="guide-step__media">
                <a
                    href="/assets/img/exelearning/primerpaso.png"
                    title="{{'guide.exelearning.alt1'|translate}}"
                    class="guide-step__lightbox fancybox"
                    data-lightbox="gallery1"
                >
                    <img
                        src="/assets/img/exelearning/primerpaso.png"
                        alt="{{'guide.exelearning.alt1'|translate}}"
                        pTooltip="{{'guide.exelearning.preview'|translate}}"
                        tooltipPosition="bottom"
                    >
                </a>
            </div>
        </section>

        <section class="guide-step">
            <div class="guide-step__copy" tabindex="0">
                <p class="guide-step__number">{{'guide.exelearning.step' | translate}} 2#</p>
                <p>{{'guide.exelearning.p2' |translate}}</p>
            </div>

            <div class="guide-step__media">
                <a
                    href="/assets/img/exelearning/segundopaso.png"
                    title="{{'guide.exelearning.alt2'|translate}}"
                    class="guide-step__lightbox fancybox"
                    data-lightbox="gallery1"
                >
                    <img
                        src="/assets/img/exelearning/segundopaso.png"
                        alt="{{'guide.exelearning.alt2'|translate}}"
                        pTooltip="{{'guide.exelearning.preview'|translate}}"
                        tooltipPosition="bottom"
                    >
                </a>
            </div>
        </section>

        <section class="guide-step">
            <div class="guide-step__copy" tabindex="0">
                <p class="guide-step__number">{{'guide.exelearning.step' | translate}} 3#</p>
                <h3>{{'guide.exelearning.subtitle2' | translate}}</h3>
                <ol>
                    <li>{{'guide.exelearning.li1' | translate}}</li>
                    <li>{{'guide.exelearning.li2' | translate}}</li>
                    <li>{{'guide.exelearning.li3' | translate}}</li>
                </ol>
            </div>

            <div class="guide-step__media">
                <a
                    href="/assets/img/exelearning/tercerpaso.png"
                    title="{{'guide.exelearning.alt3'|translate}}"
                    class="guide-step__lightbox fancybox"
                    data-lightbox="gallery1"
                >
                    <img
                        src="/assets/img/exelearning/tercerpaso.png"
                        alt="{{'guide.exelearning.alt3'|translate}}"
                        pTooltip="{{'guide.exelearning.preview'|translate}}"
                        tooltipPosition="bottom"
                    >
                </a>
            </div>
        </section>

        <section class="guide-step">
            <div class="guide-step__copy" tabindex="0">
                <p class="guide-step__number">{{'guide.exelearning.step'|translate}} 4#</p>
                <h2>{{'guide.exelearning.subtitle3'|translate}}</h2>
                <p>{{'guide.exelearning.p4' | translate}}</p>
            </div>

            <div class="guide-step__media">
                <a
                    href="/assets/img/exelearning/quintopaso.png"
                    title="{{'guide.exelearning.alt5'|translate}}"
                    class="guide-step__lightbox fancybox"
                    data-lightbox="gallery1"
                >
                    <img
                        src="/assets/img/exelearning/quintopaso.png"
                        alt="{{'guide.exelearning.alt5'|translate}}"
                        pTooltip="{{'guide.exelearning.preview'|translate}}"
                        tooltipPosition="bottom"
                    >
                </a>
            </div>
        </section>

        <section class="guide-step">
            <div class="guide-step__copy" tabindex="0">
                <p class="guide-step__number">{{'guide.exelearning.step' | translate}} 5#</p>
                <p>{{'guide.exelearning.p3' | translate}}</p>
                <ol>
                    <li>{{'guide.exelearning.li4' | translate}}</li>
                    <li>{{'guide.exelearning.li5' | translate}}</li>
                    <li>{{'guide.exelearning.li6' | translate}}</li>
                    <li>{{'guide.exelearning.li7' | translate}}</li>
                </ol>
            </div>

            <div class="guide-step__media">
                <a
                    href="/assets/img/exelearning/cuartopaso.png"
                    title="{{'guide.exelearning.alt4'|translate}}"
                    class="guide-step__lightbox fancybox"
                    data-lightbox="gallery1"
                >
                    <img
                        src="/assets/img/exelearning/cuartopaso.png"
                        alt="{{'guide.exelearning.alt4'|translate}}"
                        pTooltip="{{'guide.exelearning.preview'|translate}}"
                        tooltipPosition="bottom"
                    >
                </a>
            </div>
        </section>
    </div>
</div>
