<div class="p-col-12 p-md-6 p-lg-12 text" tabindex="0">
    <div class="container-guide">
        <h2>
            EXeLearning
        </h2>
        <div class="img-icon">
            <img src="/assets/img/exelearning.png" alt="Imagen de eXeLearning">
        </div>
        <a style="font-size: 2em; text-align: center; display: inline-block; width: 100%;" href="https://exelearning.net/"> https://exelearning.net/ </a>
    </div>
</div>
<div class="p-col-12 p-md-6 p-lg-12 separador"></div>
<div class="main-content p-grid guide-content text">
    <div class="p-col-12 p-md-6 p-lg-6 text" tabindex="0">
        <h2>{{'guide.exelearning.subtitle' | translate}}</h2>
        <h3>{{'guide.exelearning.step' | translate}} 1#</h3>
        <p>
            {{'guide.exelearning.p1' |translate}}
        </p>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6" style="text-align:center">
        <a href="/assets/img/exelearning/primerpaso.png" title="{{'guide.exelearning.alt1'|translate}}"
            class="fancybox " data-lightbox="gallery1">
            <img src="/assets/img/exelearning/primerpaso.png" alt="{{'guide.exelearning.alt1'|translate}}"
                pTooltip="{{'guide.exelearning.preview'|translate}}" tooltipPosition="bottom" tabindex="1">
        </a>
        <!-- <img tabindex="0" src="/assets/img/exelearning/primerpaso.png" alt="Imagen que representa el paso numero uno para exportar el objeto de aprendizaje"> -->
    </div>
    <!------- Creacion de la segunda columna --------->
    <div class="p-col-12 p-md-6 p-lg-12 separador"></div>

    
    <div class="p-col-12 p-md-6 p-lg-6 text" tabindex="0">
        <h3>{{'guide.exelearning.step' | translate}} 2#</h3>
        <p>
            {{'guide.exelearning.p2' |translate}}
        </p>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6" style="text-align:center">
        <a href="/assets/img/exelearning/segundopaso.png" title="{{'guide.exelearning.alt2'|translate}}"
            class="fancybox " data-lightbox="gallery1">
            <img tabindex="0" src="/assets/img/exelearning/segundopaso.png" alt="{{'guide.exelearning.alt2'|translate}}"
                pTooltip="{{'guide.exelearning.preview'|translate}}" tooltipPosition="bottom" tabindex="1">
        </a>
    </div>

    <!------- Creacion de la segunda columna --------->
    <div class="p-col-12 p-md-6 p-lg-12 separador"></div>

    <div class="p-col-12 p-md-6 p-lg-6 text text-ul" tabindex="0">
        <h3>{{'guide.exelearning.step' | translate}} 3#</h3>
        <h4>{{'guide.exelearning.subtitle2' | translate}}</h4>
        <ol>
            <li value="1">{{'guide.exelearning.li1' | translate}}</li>
            <li>{{'guide.exelearning.li2' | translate}}</li>
            <li>{{'guide.exelearning.li3' | translate}}</li>
        </ol>

    </div>
    <div class="p-col-12 p-md-6 p-lg-6" style="text-align:center">
        <a href="/assets/img/exelearning/tercerpaso.png" title="{{'guide.exelearning.alt3'|translate}}"
            class="fancybox " data-lightbox="gallery1">
            <img tabindex="0" src="/assets/img/exelearning/tercerpaso.png" alt="{{'guide.exelearning.alt3'|translate}}"
                pTooltip="{{'guide.exelearning.preview'|translate}}" tooltipPosition="bottom" tabindex="1">
        </a>
    </div>

    <!------- Creacion de la segunda columna --------->
    <div class="p-col-12 p-md-6 p-lg-12 separador"></div>

   

    <div class="p-col-12 p-md-6 p-lg-6 text" tabindex="0">
        <h2>{{'guide.exelearning.subtitle3'|translate}}</h2>
        <h3>{{'guide.exelearning.step'|translate}} 4#</h3>
        <p>
            {{'guide.exelearning.p4' | translate}}
        </p>
    </div>

    <div class="p-col-12 p-md-6 p-lg-6" style="text-align:center">
        <a href="/assets/img/exelearning/quintopaso.png" title="{{'guide.exelearning.alt5'|translate}}"
            class="fancybox " data-lightbox="gallery1">
            <img tabindex="0" src="/assets/img/exelearning/quintopaso.png" alt="{{'guide.exelearning.alt5'|translate}}"
                pTooltip="{{'guide.exelearning.preview'|translate}}" tooltipPosition="bottom" tabindex="1">
        </a>
    </div>

    <!------- Creacion de la segunda columna --------->
    <div class="p-col-12 p-md-6 p-lg-12 separador"></div>

    <div class="p-col-12 p-md-6 p-lg-6 text text-ul" tabindex="0">
        <h3>{{'guide.exelearning.step' | translate}} 5#</h3>
        <p>
            {{'guide.exelearning.p3' | translate}}
        </p>
        <ol>
            <li value="1">{{'guide.exelearning.li4' | translate}}</li>
            <li>{{'guide.exelearning.li5' | translate}}</li>
            <li>{{'guide.exelearning.li6' | translate}}</li>
            <li>{{'guide.exelearning.li7' | translate}}</li>
        </ol>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6" style="text-align:center">
        <a href="/assets/img/exelearning/cuartopaso.png" title="{{'guide.exelearning.alt4'|translate}}"
            class="fancybox " data-lightbox="gallery1">
            <img tabindex="0" src="/assets/img/exelearning/cuartopaso.png" alt="{{'guide.exelearning.alt4'|translate}}"
                pTooltip="{{'guide.exelearning.preview'|translate}}" tooltipPosition="bottom" tabindex="1">
        </a>
    </div>
</div>