
<div class="p-grid table-demo">
  <div class="p-col-12">
    <div class="card">
      @if (!hasLoaded && isLoading) {
        <app-loading></app-loading>
      }
      @if (hasLoaded) {
        <p-table #dt [value]="listStudent" dataKey="id"
          [loading]="isLoading"
          styleClass="p-datatable-customers" [rowHover]="true" [rows]="pageSize"
          [filterDelay]="0" [globalFilterFields]="['first_name','last_name','email']">
          <ng-template pTemplate="caption">
            <div class="table-header">
              <span class="table-title">{{'admin.students' | translate }}</span>
              <span class="p-input-icon-left table-search">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="onSearchInput($any($event.target).value)"
                  placeholder="Buscar"/>
                </span>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th class="admin-col-10pct">
                  <div class="p-d-flex p-jc-between p-ai-center">
                    {{'admin.image' | translate }}
                  </div>
                </th>
                <th class="admin-col-24pct" >
                  <div class="p-d-flex p-jc-between p-ai-center">
                    {{'admin.first_name' | translate}}
                  </div>
                </th>
                <th class="admin-col-20pct">
                  <div class="p-d-flex p-jc-between p-ai-center">
                    {{'admin.email' | translate }}
                  </div>
                </th>
                <th class="admin-col-20pct">{{'admin.disability' | translate }}</th>
                <th class="admin-col-28pct">{{'admin.preferences' | translate }}</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-student>
              <tr class="p-selectable-row">
                <td>
                  <span class="p-column-title">{{'admin.image' | translate}}</span>
                  <img class="student-avatar" [src]="getAvatar(student)" [alt]="student.first_name || 'student'" width="40">
                </td>
                <td class="table-cell-copy">
                  <span class="p-column-title">{{'admin.first_name' | translate}}</span>
                  <p>{{student.first_name || ""}} {{student.last_name || ""}}</p>
                </td>
                <td class="table-cell-copy">
                  <span class="p-column-title">{{'admin.email' | translate}}</span>
                  <p>{{student.email || ""}}</p>
                </td>
                <td class="table-cell-copy">
                  <span class="p-column-title">{{'admin.disability' | translate}}</span>
                  <p>{{student.student.disability_description || ""}}</p>
                </td>
                <td class="table-preferences">
                  <span class="p-column-title">{{'admin.preferences' | translate}}</span>
                  @for (preferenceLabel of getPreferenceLabels(student); track preferenceLabel) {
                    <div>
                      <p-tag styleClass="p-mr-2 p-mt-2" severity="success" [value]="preferenceLabel" [rounded]="true"></p-tag>
                    </div>
                  }
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="8">{{'admin.emptyStudent' | translate }}</td>
              </tr>
            </ng-template>
          </p-table>
        }
        @if (hasLoaded) {
          <p-paginator
            #paginator
            [rows]="pageSize"
            [first]="first"
            [totalRecords]="totalRecords"
            (onPageChange)="paginate($event)"
          ></p-paginator>
        }
      </div>
    </div>
  </div>

