h5{
    background-color: #EFEFEF;
    padding: 10px 5px;
}
.btn{
    //background-color: seagreen;
    text-align: center;
    button{
        width: 100%;
    }
}
.recommended{
    width: 100%;
    margin: 10px 0;
}


