<h2 class="p-text-center">{{"guideTeacher.uploadAdapted.title"|translate}}</h2>
<div class="main-content p-grid guide-content">
    <div class="p-col-12 p-md-6 p-lg-6 " tabindex="0">
        <h3>{{"guideTeacher.uploadAdapted.subtitle1"|translate}}</h3>
        <p>
            {{"guideTeacher.uploadAdapted.p1"|translate}} <a style="font-style: italic;text-decoration: underline;"
                title="https://oeradap.edutech-project.org/"
                href="https://oeradap.edutech-project.org/">{{"guideTeacher.uploadAdapted.a1"|translate}}</a>
            {{"guideTeacher.uploadAdapted.p2"|translate}}
        </p>
        <p>{{"guideTeacher.uploadAdapted.p3"|translate}}</p>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6 divImg" style="text-align:center">
        <img src="assets/img/SubirOA.JPG" alt="Imagen referente al contenido presentado al perfil del profesor"
            tabindex="0">
    </div>
    <!----------------Separadores------------------>
    <div class=" p-col-12 p-md-6 p-lg-6 separador">
    </div>
    <div class=" p-col-12 p-md-6 p-lg-6 separador">
    </div>
    <!----------------Columna uno ------------------>
    
    <div class="p-col-12 p-md-6 p-lg-6 text" tabindex="0">
        <h3>{{"guideTeacher.uploadAdapted.subtitle2"|translate}}</h3>
        <p>
            {{"guideTeacher.uploadAdapted.p4"|translate}} <a style="font-style: italic;text-decoration: underline;"
                title="https://oeradap.edutech-project.org/"
                href="https://oeradap.edutech-project.org/">{{"guideTeacher.uploadAdapted.a1"|translate}}</a>
            {{"guideTeacher.uploadAdapted.p5"|translate}}
        </p>
        <p>{{"guideTeacher.uploadAdapted.p6"|translate}}</p>
        <p>
            {{"guideTeacher.uploadAdapted.p7"|translate}} <a style="font-style: italic;text-decoration: underline;"
                title="https://oeradap.edutech-project.org/"
                href="https://oeradap.edutech-project.org/">{{"guideTeacher.uploadAdapted.a1"|translate}}</a>,
            {{"guideTeacher.uploadAdapted.p8"|translate}} <a style="font-style: italic;text-decoration: underline;"
                title="https://oeradap.edutech-project.org/"
                href="https://oeradap.edutech-project.org/">{{"guideTeacher.uploadAdapted.a1"|translate}}</a>.
        </p>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6" style="text-align:center">
        <video width="600" height="100%" controls autoplay>
            <source src="assets/videos/OAsAdaptadoUp.mp4" type="video/mp4">
        </video>
    </div>

</div>