<div class="main-content p-grid guide-content">
    <div class="p-col-12 p-md-6 p-lg-6 " tabindex="0">
        <h2>Subir un Objeto de aprendizaje adaptado</h2>
        <h3>Cargar el archivo comprimido del Objeto de aprendizaje</h3>
        <p>
            Un objeto de aprendizaje adaptado por la plataforma <a
            style="font-style: italic;text-decoration: underline;" title="https://oeradap.edutech-project.org/"
            href="https://oeradap.edutech-project.org/">OER-ADAP</a> tiene un plus adicional dentro del repositorio
            de objetos de aprendizaje, su evaluación de metadatos de accesibilidad será alto y por ende al presentarse
            su evaluación preliminar tendrá un puntaje alto.
        </p>
        <p>A continuación, te explicaremos como puedes subir un objeto de aprendizaje adaptado. </p>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6 divImg" style="text-align:center">
        <img src="assets/img/SubirOA.JPG" alt="Imagen referente al contenido presentado al perfil del profesor"
            tabindex="0">
    </div>
    <!----------------Separadores------------------>
    <div class=" p-col-12 p-md-6 p-lg-6 separador">
    </div>
    <div class=" p-col-12 p-md-6 p-lg-6 separador">
    </div>
    <!----------------Columna uno ------------------>
    <div class="p-col-12 p-md-6 p-lg-6" style="text-align:center">
        <video width="600" height="100%" controls autoplay>
            <source src="assets/videos/OAsAdaptadoUp.mp4" type="video/mp4">
        </video>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6 text" tabindex="0">
        <h3>Formulario de registro de información del objeto de aprendizaje</h3>
        <p>
            Un objeto de aprendizaje adaptado por la plataforma <a
            style="font-style: italic;text-decoration: underline;" title="https://oeradap.edutech-project.org/"
            href="https://oeradap.edutech-project.org/">OER-ADAP</a> tiene una función adicional dentro del
            repositorio
            de objetos de aprendizaje, su evaluación de metadatos de accesibilidad será alto y por ende al presentarse
            su evaluación preliminar tendrá un puntaje alto.
        </p>
        <p>A continuación, te explicaremos como puedes subir un objeto de aprendizaje adaptado. </p>
        <p>
            El repositorio reconoce los objetos de aprendizaje adaptados por la herramienta <a
            style="font-style: italic;text-decoration: underline;" title="https://oeradap.edutech-project.org/"
            href="https://oeradap.edutech-project.org/">OER-ADAP</a>, dado esto es mucho
            más fácil registrar la información del objeto de aprendizaje. Ya que el sistema hace un reconocimiento
            automático y te informa que el OA ha sido adaptado por la herramienta <a
            style="font-style: italic;text-decoration: underline;" title="https://oeradap.edutech-project.org/"
            href="https://oeradap.edutech-project.org/">OER-ADAP</a>.
        </p>
    </div>

</div>