<div class="main-content p-grid guide-content">
    <div class="p-col-12 p-md-6 p-lg-6" tabindex="0">
        <h2>{{"guideTeacher.upload.title"|translate}}</h2>
        <h3>{{"guideTeacher.upload.subtitle1"|translate}}</h3>
        <p>
            {{"guideTeacher.upload.p1"|translate}}
        </p>
        <p>{{"guideTeacher.upload.p2"|translate}}</p>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6 divImg" style="text-align:center">
        <img src="assets/img/SubirOA.JPG" alt="Imagen referente al contenido presentado al perfil del profesor"
            tabindex="0">
    </div>
    <!----------------Separadores------------------>
    <div class=" p-col-12 p-md-6 p-lg-6 separador">
    </div>
    <div class=" p-col-12 p-md-6 p-lg-6 separador">
    </div>
    <!----------------------------Segunda Fila ------------------------------------------------------->
    <div class="p-col-12 p-md-6 p-lg-6" style="text-align:center">
        <video width="600" height="100%" controls autoplay>
            <source src="assets/videos/SubirObjetoDeApapredizaje.mp4" type="video/mp4">
        </video>
    </div>

    <div class="p-col-12 p-md-6 p-lg-6 text" tabindex="0">
        <h3>{{"guideTeacher.upload.subtitle2"|translate}}</h3>
        <p>
            {{"guideTeacher.upload.p3"|translate}}
        </p>
        <p>
            {{"guideTeacher.upload.p4"|translate}}
        </p>
    </div>
    <!----------------Separadores------------------>
    <div class=" p-col-12 p-md-6 p-lg-6 separador">
    </div>
    <div class=" p-col-12 p-md-6 p-lg-6 separador">
    </div>
    <!----------------------------Tercera Fila ------------------------------------------------------->
    <div class="p-col-12 p-md-6 p-lg-6 text" tabindex="0">
        <h3>{{"guideTeacher.upload.subtitle3"|translate}}</h3>
        <p>
            {{"guideTeacher.upload.p5"|translate}}
        </p>
        <p>
            {{"guideTeacher.upload.p6"|translate}}
        </p>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6" style="text-align:center">
        <video width="600" height="100%" controls autoplay>
            <source src="assets/videos/SeleccionDeImg.mp4" type="video/mp4">
        </video>
    </div>
    <!----------------Separadores------------------>
    <div class=" p-col-12 p-md-6 p-lg-6 separador">
    </div>
    <div class=" p-col-12 p-md-6 p-lg-6 separador">
    </div>
    <!----------------------------Cuarta Fila ------------------------------------------------------->
    <div class="p-col-12 p-md-6 p-lg-6" style="text-align:center">
        <video width="600" height="100%" controls autoplay>
            <source src="assets/videos/PreguntasEM.mp4" type="video/mp4">
        </video>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6 text" tabindex="0">
        <h3>{{"guideTeacher.upload.subtitle4"|translate}}</h3>
        <p>
            {{"guideTeacher.upload.p7"|translate}}
        </p>
        <p>
            {{"guideTeacher.upload.p8"|translate}}
        </p>
    </div>
</div>