<div class="main-content p-grid guide-content">
    <div class="p-col-12 p-md-6 p-lg-6" tabindex="0">
        <h2>Subir un Objeto de aprendizaje</h2>
        <h3>Cargar el archivo comprimido del Objeto de aprendizaje</h3>
        <p>
            Una vez registrados con el perfil de profesor podemos visualizar el menú, con las siguientes opciones: mi
            perfil, seguridad, mis objetos de aprendizaje, subir objeto de aprendizaje y salir.
        </p>
        <p>A continuación, te explicaremos como puedes subir un objeto de aprendizaje. </p>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6 divImg" style="text-align:center">
        <img src="assets/img/SubirOA.JPG" alt="Imagen referente al contenido presentado al perfil del profesor"
            tabindex="0">
    </div>
    <!----------------Separadores------------------>
    <div class=" p-col-12 p-md-6 p-lg-6 separador">
    </div>
    <div class=" p-col-12 p-md-6 p-lg-6 separador">
    </div>
    <!----------------------------Segunda Fila ------------------------------------------------------->
    <div class="p-col-12 p-md-6 p-lg-6" style="text-align:center">
        <video width="600" height="100%" controls autoplay>
            <source src="assets/videos/SubirObjetoDeApapredizaje.mp4" type="video/mp4">
        </video>
    </div>

    <div class="p-col-12 p-md-6 p-lg-6 text" tabindex="0">
        <h3>Selecionar un archivo para cargarlo en el repositorio</h3>
        <p>
            Seleccionamos el archivo comprimido .zip referente al Objeto de Aprendizaje, se debe tener en cuenta que los
            objetos de aprendizaje deben estar bajo las especificaciones como IMS o SCROM para que se pueda subir el OA.
        </p>
        <p>
            Se podrá observar un formulario para llenar los datos referentes a el objeto de aprendizaje.
        </p>
    </div>
    <!----------------Separadores------------------>
    <div class=" p-col-12 p-md-6 p-lg-6 separador">
    </div>
    <div class=" p-col-12 p-md-6 p-lg-6 separador">
    </div>
    <!----------------------------Tercera Fila ------------------------------------------------------->
    <div class="p-col-12 p-md-6 p-lg-6 text" tabindex="0">
        <h3>Selecionar una foto de referencia en el formulario</h3>
        <p>
            Una funcionalidad adicional dentro del repositorio de objetos de aprendizaje es brindarte una lista de
            imágenes, las cuales son extraídas del mismo objeto de aprendizaje. Puedes elegir una imagen para que sea tu
            portada o imagen de referencia de este objeto de aprendizaje dentro del repositorio.
        </p>
        <p>
            Dato caso se puede subir una imagen que se desee desde el propio ordenador.
        </p>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6" style="text-align:center">
        <video width="600" height="100%" controls autoplay>
            <source src="assets/videos/SeleccionDeImg.mp4" type="video/mp4">
        </video>
    </div>
    <!----------------Separadores------------------>
    <div class=" p-col-12 p-md-6 p-lg-6 separador">
    </div>
    <div class=" p-col-12 p-md-6 p-lg-6 separador">
    </div>
    <!----------------------------Cuarta Fila ------------------------------------------------------->
    <div class="p-col-12 p-md-6 p-lg-6" style="text-align:center">
        <video width="600" height="100%" controls autoplay>
            <source src="assets/videos/PreguntasEM.mp4" type="video/mp4">
        </video>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6 text" tabindex="0">
        <h3>Preguntas para la evaluación de accesibilidad</h3>
        <p>
            Dentro del formulario existe preguntas que nos ayudan a obtener una evaluación mas certera de los metadatos
            que tiene el objeto de aprendizaje.
        </p>
        <p>
            Ya que de manera automática la plataforma detecta los recurso que posee el objeto de aprendizaje. Como se
            puede apreciar los recursos que se busca son: imágenes, párrafos, videos y audios.
        </p>
    </div>
</div>