.divImg{
    align-items: center;
    text-align: -webkit-left;
    img{
        width:500px;
    height:100%;
    }
}

.text{
    place-self: center;
    text-align: justify;
    h2{
        text-align: center;
    }
}
