<form
  autocomplete="off"
  [formGroup]="angForm2"
  class="student-questions"
  (ngSubmit)="sendAnswersStudent()"
  >
  @if (!isUpdateMode) {
    @for (group of groupedQuestionsSTUDENT; track trackByGroup($index, group)) {
      <section
        class="student-questions__group"
        >
        <header class="student-questions__group-header">
          <h3>{{ group.label }}</h3>
        </header>
        @for (guideline of group.guidelines; track trackByGuideline($index, guideline)) {
          <div
            class="student-questions__guideline"
            >
            <div class="student-questions__guideline-title">{{ guideline.label }}</div>
            @for (question of guideline.questions; track trackByQuestion($index, question)) {
              <article
                class="student-questions__question"
                >
                <div class="student-questions__question-header">
                  <h4>{{ question.question }}</h4>
                  @if (question.description) {
                    <p-button
                      type="button"
                      icon="pi pi-question-circle"
                      [text]="true"
                      severity="secondary"
                      (onClick)="questionInfo.toggle($event)"
                    ></p-button>
                  }
                  <p-popover #questionInfo [showCloseIcon]="true" appendTo="body">
                    <div class="student-questions__popover">
                      <h5>{{ 'object.description' | translate }}</h5>
                      <p>{{ question.description }}</p>
                    </div>
                  </p-popover>
                </div>
                <div class="student-questions__options">
                  @for (option of answerOptions; track trackByAnswerOption($index, option)) {
                    <label
                      class="student-questions__option"
                      >
                      <p-radioButton
                        [formControlName]="question.id.toString()"
                        [name]="question.id.toString()"
                        [inputId]="'question-' + question.id + '-' + option.value"
                        [value]="option.value"
                      ></p-radioButton>
                      <span>{{ option.labelKey | translate }}</span>
                    </label>
                  }
                </div>
                @if (setValueReturnForm(question.id)?.invalid && (setValueReturnForm(question.id)?.dirty || setValueReturnForm(question.id)?.touched)) {
                  <small
                    class="p-error"
                    >
                    *{{ 'validation.obligatoryCamp' | translate }}*
                  </small>
                }
              </article>
            }
          </div>
        }
      </section>
    }
  } @else {
    @for (group of groupedQuestionsUpdate; track trackByGroup($index, group)) {
      <section
        class="student-questions__group"
        >
        <header class="student-questions__group-header">
          <h3>{{ group.label }}</h3>
        </header>
        @for (guideline of group.guidelines; track trackByGuideline($index, guideline)) {
          <div
            class="student-questions__guideline"
            >
            <div class="student-questions__guideline-title">{{ guideline.label }}</div>
            @for (question of guideline.questions; track trackByQuestion($index, question)) {
              <article
                class="student-questions__question"
                >
                <div class="student-questions__question-header">
                  <h4>{{ question.question }}</h4>
                </div>
                <div class="student-questions__options">
                  @for (option of answerOptions; track trackByAnswerOption($index, option)) {
                    <label
                      class="student-questions__option"
                      >
                      <p-radioButton
                        [formControlName]="question.id.toString()"
                        [name]="question.id.toString()"
                        [inputId]="'question-' + question.id + '-' + option.value"
                        [value]="option.value"
                      ></p-radioButton>
                      <span>{{ option.labelKey | translate }}</span>
                    </label>
                  }
                </div>
              </article>
            }
          </div>
        }
      </section>
    }
  }


  <section class="student-questions__observation">
    <h4>{{ 'object.observation' | translate }}</h4>
    <textarea
      rows="5"
      formControlName="observation"
      pInputTextarea
      [placeholder]="('object.observation' | translate) + '...'"
      [ngClass]="{'ng-dirty': observation?.invalid && (observation?.dirty || observation?.touched)}"
    ></textarea>
    @if (observation?.invalid && (observation?.dirty || observation?.touched)) {
      <small class="p-error">
        *{{ 'validation.obligatoryCamp' | translate }}*
      </small>
    }
  </section>

  <div class="student-questions__actions">
    <p-button
      type="button"
      icon="pi pi-times"
      [label]="'object.exit' | translate"
      [text]="true"
      severity="secondary"
      (onClick)="isUpdateMode ? closeView2() : closeView()"
    ></p-button>
    <p-button
      icon="pi pi-check"
      type="submit"
      [loading]="isSaving"
      [disabled]="isSaving"
      [label]="(isUpdateMode ? 'profile.btnUpdate' : 'object.sendEval') | translate"
    ></p-button>
  </div>
</form>
