.labelQu{
    background-color: #3B5B68;
    padding: 9px 9px;
    border-radius: 5px;
    position: relative;
    color: white;
    display: flex;
}
.labelQutwo{
    background-color: #425e69;
    padding: 9px 9px;
    border-radius: 5px;
    position: relative;
    color: white;
    display: flex;
}
.labelQ{
    background-color: #254755;
    padding: 9px 9px;
    border-radius: 5px;
    position: relative;
    color: white;
    display: flex;
}