.error {
  border-color: red;
}


.login-content {
  position: relative;
  min-height: 80vh;
}

.login-panel {
  padding: 15px;
}

.role {
  display: flex;
  justify-content: space-between;
}

.separador {
  display: flex;

  .p-field-radiobutton {
    margin-right: 10px;
  }
}

.terms {
  display: flex;
  align-items: center;

  p-checkbox {
    margin-right: 5px;
  }
}

.login-panel-content {
  padding: 0 !important;
}

.button-submit {
  text-align: right;
  width: 100%;
}

.login-panel {
  height: 100% !important;
  position: relative !important;
  //cambios
}

.viewPass {
  position: relative;

  i {
    position: absolute;
    top: 8px;
    right: 10px;
    padding: 5px;
    cursor: pointer;
  }
}

.p-field.p-fluid {
  margin: 0;
}

.register {
  padding: 50px 0;
  height: 65vh;
}

.position-relative {
  z-index: 1;
  position: relative;
}

/*
*Css para dropdown accesible
*/
.class-dropdown-i {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  color: #495057;
  background: #ffffff;
  padding: 0.5rem 0.5rem;
  border: 1px solid #ced4da;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  /* appearance: none; */
  border-radius: 6px;
  width: 100%;
  width: -webkit-fill-available;

  &:hover {
    box-shadow: 0 0 0 0.2rem #bfcdde;
    outline: none;
    outline-offset: 0;
    border-color: #3b5b68;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem #bfcdde;
    outline: none;
    outline-offset: 0;
    border-color: #3b5b68;
  }
}

:host ::ng-deep .p-accordion-header-link {
  color: #4c566a !important;
}

//css para el calendario
:host ::ng-deep .duet-date__input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  color: #495057;
  background: #ffffff;
  padding: 0.5rem 0.5rem;
  border: 1px solid #ced4da;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
  /* appearance: none; */
  border-radius: 6px;
  width: auto;
  width: -webkit-fill-available;

  &:hover {
    box-shadow: 0 0 0 0.2rem #bfcdde;
    outline: none;
    outline-offset: 0;
    border-color: #3b5b68;
  }

  &:focus {
    box-shadow: 0 0 0 0.2rem #bfcdde;
    outline: none;
    outline-offset: 0;
    border-color: #3b5b68;
  }
}

:host ::ng-deep .duet-date__toggle-icon {
  color: #495057;
}
