<div class="content-search">
    <div class="bg-search-item">
        <app-search></app-search>
    </div>
</div>
<div class="main-content">
    <app-information></app-information>
    <app-baner-register></app-baner-register>
<p-toast></p-toast>
    <div class="labelPopular">
        <h2>Populares</h2>
        <ng-container *ngIf="userRole; else isStudentTemplate">
            <button (click)="onNavegateTo('recommended')" pButton pRipple type="button" label="Ver todos los populares"
                class="p-button-outlined"></button>
        </ng-container>
        <ng-template #isStudentTemplate>
            <button (click)="onNavegateTo('search')" pButton pRipple type="button" label="Ver todos"
                class="p-button-outlined"></button>
        </ng-template>
    </div>
    <ng-container *ngIf="populars?.length > 0">
        <div class="p-grid card-content">
            <div class="p-col-12 p-md-6 p-lg-3" *ngFor="let popular of populars">
                <app-card [object]='popular'></app-card>
            </div>
        </div>
    </ng-container>


</div>