@if (object && objectForm && !loading) {
  <div #webView class="web-view animate__animated animate__fadeIn">
    <iframe class="frame-object" [title]="'object.titleIframe' | translate" [src]="currentFile.url | urlsanitizer"
    frameborder="0" allowfullscreen></iframe>
    @if (object && displayWindow) {
      <p-dialog [header]="object.general_title" [(visible)]="displayWindow"
        styleClass="edit-object-metadata-dialog" [style]="{ width: '76vw', maxWidth: '82rem' }"
        [baseZIndex]="10000" [modal]="true" [blockScroll]="true" maskStyleClass="evaluation-dialog-mask"
        [focusTrap]="true" [focusOnShow]="true" [closeOnEscape]="true" [dismissableMask]="true"
        [draggable]="false" [resizable]="false" appendTo="body" (onHide)="restoreMetadataDialogFocus()"
        [breakpoints]="{'960px': '90vw', '640px': '96vw'}">
        <app-edit-metadata (clouceEvent)="handleMetadataDialogVisibility($event)" (updateEvent)="handleMetadataUpdate($event)"
        [object]="object"></app-edit-metadata>
      </p-dialog>
    }
    <form #editObjectFormHost class="animate__animated animate__fadeIn" [formGroup]="objectForm" (ngSubmit)="onSubmit()">
      <div class="p-field p-fluid edit-object-title-field">
        <label for="title">{{'newObject.form.titleLabel' | translate}}*</label>
        <small id="title-counter" class="edit-object-title-counter">
          {{ getControlValueLength('general_title') }} / {{ titleMaxLength }}
        </small>
        <input [ngClass]="{'ng-dirty': getErrorFormRequired('general_title') || getErrorFormMaxLength('general_title')}"
          [attr.aria-describedby]="getErrorFormRequired('general_title') || getErrorFormMaxLength('general_title') ? 'title-counter title-help' : 'title-counter'"
          pInputText name="general_title" type="text" formControlName="general_title"
          [attr.maxlength]="titleMaxLength" [placeholder]="'newObject.form.title' | translate" id="title" />
        @if (getErrorFormRequired('general_title')) {
          <small id="title-help"
            class="p-error">{{'newObject.errors.title' |
          translate}}</small>
        } @else if (getErrorFormMaxLength('general_title')) {
          <small id="title-help"
            class="p-error">{{'newObject.errors.titleMaxLength' |
          translate}}</small>
        }
      </div>
      <div class="p-field p-fluid">
        <label for="description">{{'newObject.form.descriptionLabel' | translate}}*</label>
        <textarea rows="10" [ngClass]="{'ng-dirty': getErrorFormRequired('general_description')}" pInputTextarea
          name="general_description" formControlName="general_description" id="description"
        aria-describedby="description-help" [placeholder]="'newObject.form.description' | translate"></textarea>
        @if (getErrorFormRequired('general_description')) {
          <small id="description-help"
          class="p-error">{{'newObject.errors.description' | translate}}</small>
        }
      </div>
      <div class="p-field p-fluid">
        <label for="keywords">{{'newObject.form.keywordsLabel' | translate}}*</label>
        <input [ngClass]="{'ng-invalid ng-dirty': getErrorFormRequired('general_keyword')}"
          aria-describedby="keywords-helper keywords-error" pInputText type="text" formControlName="general_keyword" id="keywords"
          name="general_keyword" [placeholder]="'newObject.form.keywords' | translate" />
        <small class="edit-object-field-helper" id="keywords-helper">
          {{'newObject.form.keywordsHelp' | translate}}
        </small>
        @if (getErrorFormRequired('general_keyword')) {
          <small id="keywords-error"
          class="p-error">{{'newObject.errors.keywords' | translate}} </small>
        }
      </div>
      <div class="edit-object-form-grid">
        <div class="edit-object-form-grid__item">
          <div class="box sidebar">
            <div class="p-field p-fluid">
              <label for="level">{{'newObject.form.educationLevelLabel' |
              translate}}*</label>
              <select
                id="level"
                class="edit-object-native-select"
                aria-describedby="level-help"
                formControlName="education_levels"
                [ngClass]="{'ng-invalid ng-dirty': getErrorFormRequired('education_levels')}">
                <option [ngValue]="null" disabled>{{'newObject.form.educationLevel' | translate}}</option>
                @for (item of educationLevels; track item.code) {
                  <option [ngValue]="item.code">{{item.name}}</option>
                }
              </select>
              @if (getErrorFormRequired('education_levels')) {
                <small id="level-help"
                  class="p-error">{{'newObject.errors.educationLevel' |
                translate}}</small>
              }
            </div>
          </div>
        </div>
        <div class="edit-object-form-grid__item">
          <div class="box sidebar">
            <div class="p-field p-fluid">
              <label for="language">{{'newObject.form.languageLabel' |
              translate}}*</label>
              <select
                id="language"
                class="edit-object-native-select"
                aria-describedby="language-help"
                formControlName="general_language"
                [ngClass]="{'ng-invalid ng-dirty': getErrorFormRequired('general_language')}">
                <option [ngValue]="null" disabled>{{'newObject.form.language' | translate}}</option>
                @for (item of language; track item.code) {
                  <option [ngValue]="item.code">{{item.name}}</option>
                }
              </select>
              @if (getErrorFormRequired('general_language')) {
                <small id="language-help"
                  class="p-error">{{'newObject.errors.language' |
                translate}}</small>
              }
            </div>
          </div>
        </div>
      </div>
      <div class="edit-object-form-grid">
        <div class="edit-object-form-grid__item">
          <div class="box sidebar">
            <div class="p-field p-fluid">
              <label for="knowledgeArea">{{'newObject.form.knowledgeAreaLabel'| translate}}*</label>
              <select
                id="knowledgeArea"
                class="edit-object-native-select"
                aria-describedby="knowledgeArea-help"
                formControlName="knowledge_area"
                [ngClass]="{'ng-invalid ng-dirty': getErrorFormRequired('knowledge_area')}">
                <option [ngValue]="null" disabled>{{'newObject.form.knowledgeArea' | translate}}</option>
                @for (item of knowledgeArea; track item.code) {
                  <option [ngValue]="item.code">{{item.name}}</option>
                }
              </select>
              @if (getErrorFormRequired('knowledge_area')) {
                <small id="knowledgeArea-help"
                  class="p-error">{{'newObject.errors.knowledgeArea' |
                translate}}</small>
              }
            </div>
          </div>
        </div>
        <div class="edit-object-form-grid__item">
          <div class="box sidebar">
            <div class="p-field p-fluid">
              <label for="license">{{'newObject.form.license' |
              translate}}*</label>
              <select
                id="license"
                class="edit-object-native-select"
                aria-describedby="license-help"
                formControlName="license"
                [ngClass]="{'ng-invalid ng-dirty': getErrorFormRequired('license')}">
                <option [ngValue]="null" disabled>{{'newObject.form.licenseLabel' | translate}}</option>
                @for (item of licenses; track item.code) {
                  <option [ngValue]="item.code">{{item.name}}</option>
                }
              </select>
              @if (getErrorFormRequired('license')) {
                <small id="license-help"
                  class="p-error">{{'newObject.errors.license' |
                translate}}</small>
              }
            </div>
          </div>
        </div>
      </div>
      <div class="edit-object-form-grid">
        <div class="edit-object-form-grid__item">
          <div class="box content">
            <div class="p-field p-fluid slider">
              <label id="editAgeRangeLabel">{{'newObject.form.ageLabel' | translate}}:
                {{ currentAgeRangeLabel }}</label>
              <small class="edit-object-field-helper" id="editAgeRangeHelp">
                {{'newObject.form.ageHelp' | translate}}
              </small>
              <p-slider [min]="5" [max]="150" formControlName="educational_typicalAgeRange"
                name="educational_typicalAgeRange" [range]="true"
                aria-labelledby="editAgeRangeLabel"
                aria-describedby="editAgeRangeHelp">
              </p-slider>
            </div>
          </div>
        </div>
        <div class="edit-object-form-grid__item">
          <div class="box sidebar">
            <div class="p-field p-fluid">
              <label for="adaptations">{{'newObject.form.OaAdapted' |
              translate}}</label>
              <small class="edit-object-field-helper" id="editAdaptationsHelp">
                {{'newObject.form.adaptationsHelp' | translate}}
              </small>
              <div class="radio-buttons" role="group" aria-describedby="editAdaptationsHelp">
                <div class="p-field-radiobutton">
                  <p-radioButton [ngClass]="{'ng-dirty': getErrorFormRequired('adaptation')}"
                    aria-describedby="editAdaptationsHelp" name="adaptation" formControlName="adaptation"
                    inputId="yes" value="yes">
                  </p-radioButton>
                  <label for="yes">{{'newObject.form.adaptationsYes'
                  | translate}}</label>
                </div>
                <div class="p-field-radiobutton">
                  <p-radioButton [ngClass]="{'ng-dirty': getErrorFormRequired('adaptation')}"
                    aria-describedby="editAdaptationsHelp" name="adaptation" value="no"
                    formControlName="adaptation" inputId="no">
                  </p-radioButton>
                  <label for="no">{{'newObject.form.adaptationsNo'
                  | translate}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="edit-object-form-grid">
        <div class="edit-object-form-grid__item">
          <div class="p-field p-fluid">
            <label for="fileImage">{{'newObject.form.imgLabel' | translate}}</label>
            <small class="edit-object-field-helper" id="img-helper">
              {{'newObject.form.editImageHelp' | translate}}
            </small>
            <p-fileUpload id="fileImage" name="fileImage" [chooseLabel]="'newObject.form.imgSelect' | translate"
              [showUploadButton]="false" [cancelLabel]="'newObject.form.imgCancel' | translate"
              (onSelect)="onSelectImage($event)"
              [invalidFileTypeMessageDetail]="'newObject.errors.img' | translate" [multiple]="false"
              accept="image/*" aria-describedby="img-helper img-error">
            </p-fileUpload>
            @if (getErrorFormRequired('avatar')) {
              <small id="img-error"
                class="p-error">{{'newObject.errors.imgHelp' |
              translate}}</small>
            }
          </div>
        </div>
        <div class="edit-object-form-grid__item edit-object-current-image">
          <p>{{'object.imgCurrent' | translate}}</p>
          @if (currentImg) {
            <img class="avatar-object" [src]="currentImg" [alt]="object.general_title">
          }
        </div>
      </div>
      <div class="edit-object-form-actions">
        <button pButton pRipple (click)=" navigateTo('settings/my-objects')" type="button"
        [label]="'newObject.form.backToMyObjects' | translate" class="p-button-danger" icon="pi pi-arrow-left"></button>
        <button pButton pRipple [disabled]="loading" type="submit" [label]="'newObject.form.btnSubmit' | translate"
        class="p-button-success" icon="pi pi-check"></button>
        <p-button [attr.id]="metadataDialogTriggerId" (click)="openMetadataDialog()"
          icon="pi pi-external-link" type="button"
          [label]="'newObject.form.btnShowMetadata' | translate">
        </p-button>
      </div>
    </form>
  </div>
}

@if (loading) {
  <div class="spinner">
    <p-progressSpinner [style]="{width: '100px', height: '100px'}" styleClass="custom-spinner" strokeWidth="4"
    fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
    @if (editData) {
      <p>{{ 'profile.saving' | translate }}</p>
    }
  </div>
}

<p-toast></p-toast>
