<div class="animate__animated animate__fadeIn card-content">
    <p-card styleClass="p-card-shadow" [style]="{width: '100%'}" tabindex="0">
        <!--<ng-template pTemplate="header">
            <img loading="lazy" [alt]="object.general_title" [src]="object.avatar">
        </ng-template>-->
        <ng-template pTemplate="header">
            <div class="class-img" tabindex="0" (click)="navigateTo()"
                style=" background-image: url({{object.avatar}});" aria-description="Imagen del objeto de aprendizaje">
            </div>
        </ng-template>

        <div class="p-card-title"><a href="#/object/{{object.slug}}"
                style="text-decoration: none; color: black;">{{object.general_title}}</a> </div>
        <div class="p-card-subtitle ng-star-inserted"> {{(object.user_created?.first_name || '')+'
            '+(object.user_created?.last_name || '')}}</div>
            
        <div class="field col-12 md:col-6"
            *ngIf="resultsEv == null && resultEvalCero != true && !expertOptionsView && !expertOptions">
            <p-skeleton height="2rem" styleClass="mb-2" borderRadius="16px"></p-skeleton>
        </div>

        <div class="accordion" id="accordionExample" *ngIf="resultsEv && (resultsEv.length > 0)">
            <div class="accordion-item">
                <!--<p>holaaaa</p>-->
                <button pButton type="button" label="{{'object.averageRating' | translate}}" (click)="show=!show"
                    style="width: 100%;">
                    <i [ngClass]="{'pi-angle-down':!show,'pi-angle-up':show}" class="pi"> &nbsp;</i>
                </button>

                <div id="formsAr" *ngIf="show">
                    <div class="accordion-body">
                        <app-view-evaluacions *ngIf="object" [resultsEv]="resultsEv" [roleExpert]="roleExpert">
                        </app-view-evaluacions>
                    </div>
                </div>
            </div>
        </div>

        <p-divider></p-divider>

        <!-- Visualizacion de boton de evalucion para el estudiante -->
        <div class="student-view-evaluation" style="margin: 0px 0px 5px"
            *ngIf="(studentOptions) || (studentOptionsView)">
            <ng-container *ngIf="resultsEvStudent && (resultsEvStudent.length > 0)">
                <div>
                    <p-dialog *ngIf="displaystudent" header="Resumen Evaluacion de Adaptabilidad" [draggable]="false"
                        [resizable]="false" appendTo="body" draggable="false" modal="false" [(visible)]="displaystudent"
                        [style]="{width: '68vw',height: '575px'}">
                        <app-evaluation-chart [resultsEvStudent]="resultsEvStudent" idexpe="estudiante">
                        </app-evaluation-chart>
                        <p-footer *ngIf="resultsEvStudent?.length>0 && !studentOptions">
                            <button (click)="navigateToReport(true)" pButton pRipple type="button" label="{{'search.readPlus'|translate}}"
                                class="p-button-rounded p-button-outlined button-read"><i class="pi pi-arrow-right"></i>
                            </button>
                        </p-footer>
                    </p-dialog>
                    <button (click)="showDialogstudent()" class="button-read" pButton pRipple type="button"
                        icon="pi pi-external-link" label="Resumen de su Evaluacion">
                    </button>
                </div>
            </ng-container>
        </div>

        <!--  Visualizar boton de evalucion para el experto-->
        <div class="expert-view-eavluation" *ngIf="expertOptions  || expertOptionsView">

            <div class="field col-12 md:col-6" *ngIf="resultsEvViewExpert == null && resultEvalCeroExpert != true">
                <p-skeleton height="2rem" styleClass="mb-2" borderRadius="16px"></p-skeleton>
            </div>

            <ng-container *ngIf="resultsEvViewExpert && (resultsEvViewExpert.length > 0)">
                <div>
                    <p-dialog *ngIf="display" header="Resumen Evaluacion de Accesibilidad" [draggable]="false"
                        [resizable]="false" appendTo="body" draggable="false" modal="false" [(visible)]="display"
                        [style]="{width: '75vw',height: '557px'}">
                        <div>
                            <app-evaluation-chart [resultEv]="resultsEvViewExpert" [rating]="object.rating" [idexpe]="'docente'"
                                [object]="object"></app-evaluation-chart>
                        </div>
                        <p-footer *ngIf="resultsEvViewExpert?.length>0 && !expertOptions">
                            <button (click)="navigateToReport(false)" pButton pRipple type="button" label="{{'search.readPlus'|translate}}"
                                class="p-button-rounded p-button-outlined button-read"><i class="pi pi-arrow-right"></i>
                            </button>
                        </p-footer>
                    </p-dialog>
                    <button (click)="showDialog()" icon="pi pi-external-link" pButton pRipple type="button"
                        class="button-read" label="Evaluacion Experto"></button>
                </div><br>
            </ng-container>
        </div>


        <p>{{object.knowledge_area.name}}</p>
        <ng-container *ngIf="object.observation">
            <h6>{{'object.Observations' | translate}}</h6>
            <p>{{object.observation}}</p>
        </ng-container>

        <ng-template pTemplate="footer">
            <div *ngIf="(teacherOptions)">
                <div class="buttons">

                    <button (click)="onclickEdid()" pButton pRipple type="button" icon="pi pi-pencil"
                        title="Editar Objeto de Aprendizaje"
                        class="p-button-rounded p-button-outlined button-edit"></button>

                    <!--  <button (click)="deleteLearningObject()" pButton pRipple type="button" icon="pi pi-trash"
                            title="Eliminar Objeto de Aprendizaje"
                            class="p-button-rounded p-button-outlined button-danger"></button>-->

                    <p-confirmPopup></p-confirmPopup>

                    <button (click)="deleteLearningObject($event)" pButton pRipple icon="pi pi-trash" type="button"
                        class="p-button-rounded p-button-outlined button-danger"
                        title="Eliminar Objeto de Aprendizaje"></button>

                    <!-- 
                    <ng-container *ngIf="resultsEv && (resultsEv.length > 0) ; else editTemplate">
                        <button (click)="confirmDelete($event)" pButton pRipple type="button" icon="pi pi-trash"
                        class="p-button-rounded p-button-danger p-button-outlined"></button> 
                    </ng-container>
                    <ng-template #editTemplate>
                        <p>Este objeto de aprendizaje está en revisión.</p>
                    </ng-template>
                    -->
                    <ng-container *ngIf="resultsEv && (resultsEv.length > 0); else editTemplate">
                        <ng-container *ngIf="resultsEv && (resultsEv.length > 0)">
                            <div>
                                <p-dialog *ngIf="display" header="Resumen Evaluacion de Accesibilidad"
                                    [draggable]="false" [resizable]="false" appendTo="body" draggable="false"
                                    modal="false" [(visible)]="display" [style]="{width: '75vw',height: '557px'}">
                                    <div>
                                        <app-evaluation-chart [resultEv]="resultsEv" [rating]="object.rating" [object]="object"
                                            [idexpe]="'docente'"></app-evaluation-chart>
                                    </div>
                                    <p-footer *ngIf="resultsEv?.length>0">
                                        <button (click)="navigateToReport(false)" pButton pRipple type="button"
                                            label="{{'search.readPlus'|translate}}" class="p-button-rounded p-button-outlined button-read"><i
                                                class="pi pi-arrow-right"></i>
                                        </button>
                                    </p-footer>
                                </p-dialog>
                                <p-button (click)="showDialog()" icon="pi pi-external-link" label="Evaluacion Experto">
                                </p-button>
                            </div><br>
                        </ng-container>
                    </ng-container>

                    <ng-template #editTemplate>
                        <br><br>
                        <p-dialog *ngIf="displayautomatic" header="Resumen Evaluacion Preliminar" [draggable]="false"
                            [resizable]="false" appendTo="body" draggable="false" modal="false"
                            [(visible)]="displayautomatic" [style]="{width: '78vw',height: '42vw'}">
                            <app-evaluation-chart [resultsEvAut]="resultsEvAut" [object]="object" idexpe="automatic">
                            </app-evaluation-chart>
                            <p-footer>
                                <!--<button (click)="navigateToReport(true)" pButton pRipple type="button" label="{{'search.readPlus'|translate}}" class="p-button-rounded p-button-outlined button-read"><i class="pi pi-arrow-right"></i>
                                </button>-->
                            </p-footer>
                        </p-dialog>
                        <p-button (click)="showDialogautomatic()" icon="pi pi-external-link"
                            label="Evaluación Preliminar"></p-button>
                        <br><br>
                        <p>Este objeto de aprendizaje está en revisión.</p>
                    </ng-template>

                    <!--- Evaluacion por el estudiante para visualizacion -->
                    <ng-container *ngIf="resultsEvStudent && (resultsEvStudent.length > 0) ; else editTemplateEst">
                        <div>
                            <p-dialog *ngIf="displaystudent" header="Resumen Evaluacion de Adaptabilidad"
                                [draggable]="false" [resizable]="false" appendTo="body" draggable="false" modal="false"
                                [(visible)]="displaystudent" [style]="{width: '68vw',height: '575px'}">
                                <app-evaluation-chart [resultsEvStudent]="resultsEvStudent" idexpe="estudiante">
                                </app-evaluation-chart>
                                <p-footer>
                                    <button (click)="navigateToReport(true)" pButton pRipple type="button"
                                        label="{{'search.readPlus'|translate}}" class="p-button-rounded p-button-outlined button-read"><i
                                            class="pi pi-arrow-right"></i>
                                    </button>
                                </p-footer>
                            </p-dialog>
                            <p-button (click)="showDialogstudent()" icon="pi pi-external-link"
                                label="Evaluacion Estudiante"></p-button>
                        </div>
                    </ng-container>

                    <ng-template #editTemplateEst>
                        <p>Este objeto de aprendizaje aun no fue revisado por el estudiante.</p>
                    </ng-template>


                </div>
                <p-toast></p-toast>
                <p-confirmPopup></p-confirmPopup>
            </div>

            <button (click)="navigateTo()" pButton pRipple type="button" label="{{'search.readPlus'|translate}}"
                class="p-button-rounded p-button-outlined button-read">
                <i class="pi pi-arrow-right"></i>
            </button>
        </ng-template>

        <div *ngIf="object.rating && (resultsEv && (resultsEv.length > 0))" class="rating">
            <i class="pi pi-star"></i> <span>{{object.rating | number:'1.1-2'}}</span>
        </div>

        <div class="adapted_oer" *ngIf="is_adapted_oer==true">
            <img src="assets/img/edutech-icon.png" title="Objeto de aprendizaje accessible"
                alt="Objeto de aprendizaje accessible">
        </div>
    </p-card>
</div>