<div class="main-content p-grid guide-content">

    <div class="p-col-12 p-md-6 p-lg-6 text" tabindex="0">
        <h2>Registro</h2>
        <h3>Perfiles al registrarse</h3>
        <p>
            Dentro de la plataforma de objetos de aprendizaje, podemos elegir 3 maneras distintas de registrarnos, la
            primera para registrarnos como estudiantes, la segunda para registrarnos como docente y la tercera como
            experto colaborador.
        </p>
        <p>Recuerda cumplir con todos los pasos y requisitos del registro para que puedas disfrutar de la plataforma
            ROA.</p>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6" style="text-align:center">
        <video width="500" height="270" controls autoplay>
            <source src="assets/videos/Registro.mp4" type="video/mp4">
        </video>
    </div>
    <!----------------Separadores------------------>
    <div class=" p-col-12 p-md-6 p-lg-6 separador">
    </div>
    <div class=" p-col-12 p-md-6 p-lg-6 separador">
    </div>
    <!----------------------------Segunda Fila ------------------------------------------------------->
    <div class="p-col-12 p-md-6 p-lg-6" style="text-align:center">
        <video width="550" height="400" controls autoplay>
            <source src="assets/videos/RegistroEstudiante.mp4" type="video/mp4">
        </video>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6 text" tabindex="0">
        <h3>Perfil de estudiante</h3>
        <p>
            A continuación, se le presentara una guía, de cómo podría interactuar con el Repositorio de Objetos
            de Aprendizaje una vez que se haya registrado como estudiante.
        </p>
        <div class="profiles-card">
            <p-card header="Perfil Estudiante" [style]="{width: '300px', margin:'2px'}" tabindex="0">
                <ng-template pTemplate="header">
                    <img alt="Card" src="assets/img/student.png" alt="Imagen referente al perfin del estudiante"
                        tabindex="0">
                </ng-template>
                <ng-template pTemplate="footer" style="text-align: center">
                    <p-button label="Clic empezar como estudiante" icon="pi pi-check"></p-button>
                </ng-template>
            </p-card>
        </div>
    </div>
    <!----------------Separadores------------------>
    <div class=" p-col-12 p-md-6 p-lg-6 separador">
    </div>
    <div class=" p-col-12 p-md-6 p-lg-6 separador">
    </div>
    <!----------------------------Tercera Fila ------------------------------------------------------->
    <div class="p-col-12 p-md-6 p-lg-6 text" tabindex="0">
        <h3>Perfil de docente</h3>
        <p>
            A continuación, se le presentara una guía, de cómo podría interactuar con el Repositorio de Objetos
            de Aprendizaje una vez que se haya registrado como docente.
        </p>
        <div class="profiles-card">
            <p-card header="Perfil Docente" [style]="{width: '300px', margin:'2px'}" tabindex="0">
                <ng-template pTemplate="header">
                    <img alt="Card" src="assets/img/teacherf.png" alt="Imagen referente al perfin del profesor"
                        tabindex="0">
                </ng-template>
                <ng-template pTemplate="footer" style="text-align: center">
                    <p-button label="Clic empezar como docente" icon="pi pi-check" (click)="router.navigate(['/guideTeacher/uploadfile'])"></p-button>
                </ng-template>
            </p-card>
        </div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6" style="text-align:center">
        <video width="550" height="400" controls autoplay>
            <source src="assets/videos/RegistroDocente.mp4" type="video/mp4">
        </video>
    </div>
    <!----------------Separadores------------------>
    <div class=" p-col-12 p-md-6 p-lg-6 separador">
    </div>
    <div class=" p-col-12 p-md-6 p-lg-6 separador">
    </div>
    <!----------------------------Cuarta Fila ------------------------------------------------------->
    <div class="p-col-12 p-md-6 p-lg-6" style="text-align:center">
        <video width="550" height="400" controls autoplay>
            <source src="assets/videos/RegistroExperto.mp4" type="video/mp4">
        </video>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6 text" tabindex="0">
        <h3>Perfil de experto colaborador</h3>
        <p>
            A continuación, se le presentara una guía, de cómo podría interactuar con el Repositorio de Objetos
            de Aprendizaje una vez que se haya registrado como experto colaborador.
        </p>
        <div class="profiles-card">
            <p-card header="Perfil Experto Colaborador" [style]="{width: '300px', margin:'2px'}" tabindex="0">
                <ng-template pTemplate="header">
                    <img alt="Card" src="assets/img/expert.png" alt="Imagen referente al perfin del experto colaborador"
                        tabindex="0">
                </ng-template>
                <ng-template pTemplate="footer" style="text-align: center">
                    <p-button label="Clic empezar como experto" icon="pi pi-check"></p-button>
                </ng-template>
            </p-card>
        </div>
    </div>

    



</div>