<div class="login-body layout-light">
  <div class="login-content animate__animated animate__fadeIn">
    <div class="login-panel email-message-panel">
      <div class="login-panel-content email-message-content">
        <h2>{{ "login.emailConfirm" | translate }}</h2>

        <div class="email-message-actions">
          <a pButton pRipple [routerLink]="['/login']" class="email-message-login-button">
            <span class="p-button-label">{{ "menu.login" | translate }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
