<div class="main-content about-us">
    <div class="p-grid">
        <div class="p-col-12 p-md-6 p-lg-7" tabindex="0">
            <img src="assets/img/undraw_team_spirit_hrr4.svg" alt="Icono nosotros">
        </div>
        <div class="p-col-12 p-md-6 p-lg-3" tabindex="0">
            <div class="content-info" >
                <h2>{{"aboutsUs.title" | translate}}</h2>
                <p>{{"aboutsUs.desciption" | translate}}</p>
            </div>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col-12 p-md-6 p-lg-4">
            <div class="card-about" >
                <div class="icon">
                    <i class="pi pi-users"></i>
                </div>
                <div class="title" tabindex="0">
                    <h2>{{"aboutsUs.mission" | translate}}</h2>
                </div>
                <div class="body" tabindex="0">
                    <p>{{"aboutsUs.missionDes" | translate}}</p>
                </div>
            </div>
        </div>
        <div class="p-col-12 p-md-6 p-lg-4">
            <div class="card-about yellow">
                <div class="icon">
                    <i class="pi pi-sun"></i>
                </div>
                <div class="title" tabindex="0">
                    <h2>{{"aboutsUs.vision" | translate}}</h2>
                </div>
                <div class="body" tabindex="0">
                    <p>{{"aboutsUs.visionDes" | translate}}</p>
                </div>
            </div>
        </div>
        <div class="p-col-12 p-md-6 p-lg-4">
            <div class="card-about purple">
                <div class="icon">
                    <i class="pi pi-thumbs-up"></i>
                </div>
                <div class="title" tabindex="0">
                    <h2>{{"aboutsUs.values" | translate}}</h2>
                </div>
                <div class="body" tabindex="0">
                    <p>{{"aboutsUs.valuesDes" | translate}}</p>
                </div>
            </div>
        </div>
    </div>
</div>