<div class="main-content about-us">
    <div class="p-grid">
        <div class="p-col-12 p-md-6 p-lg-7">
            <img src="assets/img/undraw_team_spirit_hrr4.svg" alt="Icono nosotros">
        </div>
        <div class="p-col-12 p-md-6 p-lg-3">
            <div class="content-info">
                <h2>QUIÉNES SOMOS</h2>
                <p>Somos un grupo que trabaja arduamente por el servicio a la comunidad brindando apoyo tecnológico sin
                    fines de lucro.</p>
            </div>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col-12 p-md-6 p-lg-4">
            <div class="card-about">
                <div class="icon">
                    <i class="pi pi-users"></i>
                </div>
                <div class="title">
                    <h2>Misión</h2>
                </div>
                <div class="body">
                    <p>Promover la inclusión educativa y la diversidad empleando como catalizadores a las tecnologías
                        accesibles, la calidad, la innovación y el trabajo en equipo.</p>
                </div>
            </div>
        </div>
        <div class="p-col-12 p-md-6 p-lg-4">
            <div class="card-about yellow">
                <div class="icon">
                    <i class="pi pi-sun"></i>
                </div>
                <div class="title">
                    <h2>Visión</h2>
                </div>
                <div class="body">
                    <p>Constituirse en una red de conocimiento y buenas prácticas para el desarrollo y aplicación
                        eficiente de tecnologías accesibles en la Educación Superior que contribuyan a la inclusión,
                        participación y a la empleabilidad.</p>
                </div>
            </div>
        </div>
        <div class="p-col-12 p-md-6 p-lg-4">
            <div class="card-about purple">
                <div class="icon">
                    <i class="pi pi-thumbs-up"></i>
                </div>
                <div class="title">
                    <h2>Valores</h2>
                </div>
                <div class="body">
                    <p>Trabajo en Equipo, Innovación, Compromiso, Diversidad, Servicio</p>
                </div>
            </div>
        </div>
    </div>
</div>