<div class="main-content  animate__animated animate__fadeIn">
    <div class="terms-content">
        <h2>{{'termsandconditions.title' | translate}}</h2>
        <div class="term">
            <h3>{{'termsandconditions.subtitle1' | translate}}</h3>
            <p>{{'termsandconditions.p1' | translate}}
            </p>
            <h3>{{'termsandconditions.subtitle2' | translate}}</h3>
            <p>
                {{'termsandconditions.p2' | translate}}
            </p>
            <ul>
                <li>
                    <p>{{'termsandconditions.points.point1' | translate}}</p>
                </li>
                <li>
                    <p>{{'termsandconditions.points.point2' | translate}}</p>
                </li>
                <li>
                    <p>{{'termsandconditions.points.point3' | translate}}</p>
                </li>
                <li>
                    <p>{{'termsandconditions.points.point4' | translate}}</p>
                </li>
            </ul>
            <h3>{{'termsandconditions.subtitle3' | translate}}</h3>
            <p>{{'termsandconditions.p3' | translate}}</p>
        </div>
    </div>

</div>