<div class="main-content  animate__animated animate__fadeIn">
    <div class="terms-content">
        <h2>Términos de uso y condiciones legales de la plataforma ROA</h2>
        <div class="term">
            <h5>Objetivo</h5>
            <p>La Universidad Politécnica Salesiana de la ciudad de Cuenca con dirección Calle Vieja 12-30 y Elia Liut
                conjunto con el grupo de investigación de la Cátedra UNESCO EduTech ha desarrollado la plataforma
                denominada ROA, Como plataforma libre y sin fines comerciales destinada a cualquier usuario y todo
                miembro de nivel académico.
                Al acceder a la plataforma y/o hacer uso de esta, el visitante acepta los siguientes términos expresados
                en este documento.
            </p>
            <h5>Condiciones de uso</h5>
            <p>Tanto como el usuario que navega anónimamente como los usuarios registrados en el sitio están sujetos a
                aceptar las siguientes condiciones de uso del servicio del sitio web:
            </p>
            <ul>
                <li>
                    <p>La información proporcionada es de uso personal y única del usuario que se registra.</p>
                </li>
                <li>
                    <p>La información que se proporciona al registrarse se debe mantener oculta y no compartirla con
                        nadie.</p>
                </li>
                <li>
                    <p>Todos los usuarios deben guardar moderación en comentarios del sitio.</p>
                </li>
                <li>
                    <p>Mostrar respeto a los demás usuarios del sito.</p>
                </li>
            </ul>
            <h5>Uso de cookies</h5>
            <p>El uso de las cookies para almacenar información netamente de referencia de un registro, no se almacena información personal o del usuario visitante, todos los valores almacenados están debidamente encriptados.</p>
        </div>
    </div>

</div>