<div class="main-content object-page">
  <div class="object-page__layout">
    <div class="object-page__main">
      <div class="box content object-page__content">

        @if (objectData) {
          <app-web-view [object]="objectData" (commentEmit1)="coutComment1($event)" ></app-web-view>
        } @else {
          <div class="custom-skeleton p-p-4">
            <p-skeleton width="100%" height="70vh"></p-skeleton>
            <div class="p-d-flex p-jc-between p-mt-3">
              <p-skeleton width="4rem" height="2rem"></p-skeleton>
              <p-skeleton width="4rem" height="2rem"></p-skeleton>
            </div>
          </div>
          <div class="p-d-flex p-mb-3">
            <p-skeleton shape="circle" size="4rem" styleClass="p-mr-2"></p-skeleton>
            <div>
              <p-skeleton width="10rem" styleClass="p-mb-2"></p-skeleton>
              <p-skeleton width="5rem" styleClass="p-mb-2"></p-skeleton>
              <p-skeleton height=".5rem"></p-skeleton>
            </div>
          </div>
          <div class="object-page__skeleton-block">
            <p-skeleton styleClass="p-mb-2"></p-skeleton>
            <p-skeleton width="100%" styleClass="p-mb-2"></p-skeleton>
            <p-skeleton width="75%" styleClass="p-mb-2"></p-skeleton>
            <p-skeleton height="50%" styleClass="p-mb-2"></p-skeleton>
            <p-skeleton width="10rem" height="3rem"></p-skeleton>
          </div>
        }
        <div class="object-page__tabs-shell" #objectTabsShell>
          <p-tabs styleClass="object-page__tabs" [scrollable]="true" [showNavigators]="true" [value]="0">
            <p-tablist>
              <p-tab [value]="0">{{ ('object.comments' | translate) + ' (' + commentsData?.count + ')' }}</p-tab>
              <p-tab [value]="1">{{ 'object.metadata' | translate }}</p-tab>
              <p-tab [value]="2">{{ 'object.insert' | translate }}</p-tab>
              <p-tab [value]="3">{{ 'object.evaluation' | translate }}</p-tab>
            </p-tablist>
            <p-tabpanels>
              <p-tabpanel [value]="0">
                @if (commentsData) {
                  <div class="animate__animated animate__fadeIn">
                    <app-comments [objectId]="objectData.id" [comments]="commentsData.results"
                    (commentEmit)="coutComment($event)"></app-comments>
                  </div>
                } @else {
                  <div class="custom-skeleton p-p-4">
                    <ul class="p-m-0 p-p-0">
                      <li class="p-mb-3">
                        <div class="p-d-flex">
                          <p-skeleton shape="circle" size="4rem" styleClass="p-mr-2"></p-skeleton>
                          <div class="object-page__skeleton-copy">
                            <p-skeleton width="100%" styleClass="p-mb-2"></p-skeleton>
                            <p-skeleton width="75%"></p-skeleton>
                          </div>
                        </div>
                      </li>
                      <li class="p-mb-3">
                        <div class="p-d-flex">
                          <p-skeleton shape="circle" size="4rem" styleClass="p-mr-2"></p-skeleton>
                          <div class="object-page__skeleton-copy">
                            <p-skeleton width="100%" styleClass="p-mb-2"></p-skeleton>
                            <p-skeleton width="75%"></p-skeleton>
                          </div>
                        </div>
                      </li>
                      <li class="p-mb-3">
                        <div class="p-d-flex">
                          <p-skeleton shape="circle" size="4rem" styleClass="p-mr-2"></p-skeleton>
                          <div class="object-page__skeleton-copy">
                            <p-skeleton width="100%" styleClass="p-mb-2"></p-skeleton>
                            <p-skeleton width="75%"></p-skeleton>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="p-d-flex">
                          <p-skeleton shape="circle" size="4rem" styleClass="p-mr-2"></p-skeleton>
                          <div class="object-page__skeleton-copy">
                            <p-skeleton width="100%" styleClass="p-mb-2"></p-skeleton>
                            <p-skeleton width="75%"></p-skeleton>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                }


              </p-tabpanel>
              <p-tabpanel [value]="1">
                @if (objectData) {
                  <div class="metadata-content">
                    <button
                      (click)="showMetadata = !showMetadata"
                      pButton
                      pRipple
                      type="button"
                      [icon]="showMetadata ? 'pi pi-list' : 'pi pi-code'"
                      [pTooltip]="showMetadata ? 'Vista legible' : 'Vista técnica'"
                      [attr.aria-label]="showMetadata ? 'Vista legible' : 'Vista técnica'"
                      tooltipPosition="left"
                      [ngClass]="showMetadata ? 'metadata-toggle--technical' : 'metadata-toggle--readable'"
                      class="p-button-rounded metadata-toggle"
                    ></button>
                    @if (showMetadata) {
                      <pre class="animate__animated animate__fadeIn metadata-content pretty"
                      >{{ objectData | prettyprint }}</pre>
                    } @else {
                      <div class="animate__animated animate__fadeIn metadata-content">
                        @if (objectData) {
                          <app-metadata [learningobjectdetail]="objectData"></app-metadata>
                        }
                      </div>
                    }
                  </div>
                } @else {
                  <p-skeleton styleClass="p-mb-2"></p-skeleton>
                  <p-skeleton width="10rem" styleClass="p-mb-2"></p-skeleton>
                  <p-skeleton width="70%" styleClass="p-mb-2"></p-skeleton>
                  <p-skeleton width="5%" styleClass="p-mb-2"></p-skeleton>
                  <p-skeleton width="100%" styleClass="p-mb-2"></p-skeleton>
                  <p-skeleton width="90%" styleClass="p-mb-2"></p-skeleton>
                  <p-skeleton width="50%" styleClass="p-mb-2"></p-skeleton>
                  <p-skeleton width="60%" styleClass="p-mb-2"></p-skeleton>
                  <p-skeleton width="40%" styleClass="p-mb-2"></p-skeleton>
                  <p-skeleton width="20%" styleClass="p-mb-2"></p-skeleton>
                  <p-skeleton width="10rem" height="4rem"></p-skeleton>
                }


              </p-tabpanel>

              <p-tabpanel [value]="2">

                <textarea disabled class="code animate__animated animate__fadeIn" rows="6" [value]="embedCode"
                pInputTextarea></textarea>
                <button (click)="copyText()" pButton pRipple type="button" label="{{'object.copy' | translate}}"
                class="p-button-raised"></button>
              </p-tabpanel>

              <p-tabpanel [value]="3">
                <!------------------------------------------------------------------------------------------>
                @if (roleStudent && (!roleExpert && !roleTeacher)) {
                  <div class="student-evaluation-grid">
                    @for (item of resultsEva; track item) {
                      @for (itemQ of item.concepts; track itemQ) {
                        <article class="student-evaluation-card">
                          <h6 class="student-evaluation-card__title">{{itemQ.concepto.concept}}</h6>
                          <div class="student-evaluation-card__score">
                            <i class="pi pi-star"></i>
                            <span>{{itemQ.total | number:'1.1-2'}}</span>
                          </div>
                        </article>
                      }
                    }
                  </div>
                }


                @if (roleTeacher &&(!roleStudent && !roleExpert) ) {
                  <div>
                    @for (item of groupedQuestionsTeacher; track item) {
                      <div>
                        @for (item1 of item.conceptEvaluations; track item1) {
                          <div>
                            <div class="forms">
                              <h2>{{item1.evaluationConcept}}</h2>
                              <ul>
                                @for (itemQ of item1.questionEvaluations; track itemQ) {
                                  <li>
                                    <div class="labelQu">
                                      <label class="labelQT">{{itemQ.questions}}.<strong>{{itemQ.qualification}}</strong></label>
                                    </div>
                                  </li>
                                }
                              </ul>
                            </div>
                          </div>
                        }
                      </div>
                    }
                    <div class="forms">
                      <h6>{{'object.observation' | translate}}</h6>
                      @for (item of groupedQuestionsTeacher; track item) {
                        <div>
                          <label>{{item.observation}}</label>
                        </div>
                      }
                    </div>
                  </div>
                }



                @if (roleExpert && flagConfirm) {
                  <div>
                    @for (item of groupedQuestionsEx; track item) {
                      <div>
                        @for (item1 of item.conceptEvaluations; track item1) {
                          <div>
                            <div class="forms">
                              <h6>{{item1.evaluationConcept}}</h6>
                              <ul>
                                @for (itemQ of item1.questionEvaluations; track itemQ) {
                                  <li>
                                    <div class="labelQu">
                                      <label class="labelQT">{{itemQ.questions}}.<strong>{{itemQ.qualification}}</strong></label>
                                    </div>
                                  </li>
                                }
                              </ul>
                            </div>
                          </div>
                        }
                      </div>
                    }
                    <div class="forms">
                      <h6>{{'object.observation' | translate}}</h6>
                      @for (item of groupedQuestionsEx; track item) {
                        <div>
                          <label>{{item.observation}}</label>
                        </div>
                      }
                    </div>
                  </div>
                }

                @if (shouldShowEvaluationEmptyState) {
                  <div class="di">
                    <label>{{'object.evaluationErrorView'|translate}}</label>
                  </div>
                }
                <!------------------------------------------------------------------------------------------>
              </p-tabpanel>
            </p-tabpanels>
          </p-tabs>
        </div>
      </div>
    </div>
    <div class="object-page__aside">
      <div class="box sidebar object-page__sidebar">
        @if (objectData) {
          <app-side-object></app-side-object>
        } @else {
          <div class="custom-skeleton p-p-2">
            <p-skeleton height="3rem" styleClass="p-mb-2"></p-skeleton>
          </div>
          <div class="custom-skeleton p-p-4">
            <ul class="p-m-0 p-p-0">
              <li class="p-mb-3">
                <div class="p-d-flex">
                  <p-skeleton shape="circle" size="4rem" styleClass="p-mr-2"></p-skeleton>
                  <div class="object-page__skeleton-copy">
                    <p-skeleton width="100%" styleClass="p-mb-2"></p-skeleton>
                    <p-skeleton width="75%"></p-skeleton>
                  </div>
                </div>
              </li>
              <li class="p-mb-3">
                <div class="p-d-flex">
                  <p-skeleton shape="circle" size="4rem" styleClass="p-mr-2"></p-skeleton>
                  <div class="object-page__skeleton-copy">
                    <p-skeleton width="100%" styleClass="p-mb-2"></p-skeleton>
                    <p-skeleton width="75%"></p-skeleton>
                  </div>
                </div>
              </li>
              <li class="p-mb-3">
                <div class="p-d-flex">
                  <p-skeleton shape="circle" size="4rem" styleClass="p-mr-2"></p-skeleton>
                  <div class="object-page__skeleton-copy">
                    <p-skeleton width="100%" styleClass="p-mb-2"></p-skeleton>
                    <p-skeleton width="75%"></p-skeleton>
                  </div>
                </div>
              </li>
              <li>
                <div class="p-d-flex">
                  <p-skeleton shape="circle" size="4rem" styleClass="p-mr-2"></p-skeleton>
                  <div class="object-page__skeleton-copy">
                    <p-skeleton width="100%" styleClass="p-mb-2"></p-skeleton>
                    <p-skeleton width="75%"></p-skeleton>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        }

      </div>
    </div>
  </div>
</div>

<p-toast></p-toast>



