<form autocomplete="off" [formGroup]="angForm" id="loginForm" (ngSubmit)="sendAnswersExcpert()">
    <div *ngIf="flagQuestionsEx == false">
        <div *ngFor="let item of groupedQuestionsEx">
            <div class="forms">
                <h6>{{item.label}}</h6>
                <ul>
                    <li *ngFor="let itemQ of item.items">
                        <div class="labelQu">
                            <label>{{itemQ.label}} &nbsp;</label>
                            <div class="buttonIncog">
                                <p-button icon="pi pi-question-circle" (click)="op.toggle($event)"></p-button>
                                <p-overlayPanel #op [showCloseIcon]="true" style="width: 550px;">
                                    <ng-template pTemplate>
                                        <h6>{{'object.description'|translate}}:</h6>
                                        <label>{{itemQ.description}}</label>
                                    </ng-template>
                                </p-overlayPanel>
                            </div>
                        </div>

                        <div class="forms">
                            <div class="p-field-radiobutton">
                                <div class="p-field-radiobutton">
                                    <p-radioButton formControlName="{{itemQ.value}}" group="button" value="Si">
                                    </p-radioButton>
                                    <label for="group1">{{'register.yes' |translate}}</label>
                                </div>

                                <div class="p-field-radiobutton" style="padding: 0px 15px;">
                                    <p-radioButton formControlName="{{itemQ.value}}" group="button" value="No">
                                    </p-radioButton>
                                    <label for="group1">{{'register.no' |translate}}</label>
                                </div>

                                <div class="p-field-radiobutton" style="padding: 0px 10px;">
                                    <p-radioButton formControlName="{{itemQ.value}}" group="button"
                                        value="Parcialmente">
                                    </p-radioButton>
                                    <label for="group1">{{'register.partially' |translate}}</label>
                                </div>
                                
                            </div>

                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="forms">
            <h6>{{'object.observation' | translate}}</h6>
            <textarea rows="5" cols="30" style="width: 100%;" placeholder="{{'object.observation' | translate}}.."
                formControlName="observation"
                [ngClass]="{'ng-dirty':observation.invalid && (observation.dirty || observation.touched)}"
                pInputTextarea></textarea>
            <div *ngIf="observation.invalid && (observation.dirty || observation.touched)">
                <small id="observation " class="p-error"
                    *ngIf="observation.errors.required">*{{'validation.obligatoryCamp'|
                    translate}}*</small>
            </div>
        </div>

        <div style="text-align: right;">
            <p-button icon="pi pi-times" type="button" (click)="closeView()" label="{{'object.exit'|translate}}"
                styleClass="p-button-text">
            </p-button>
            &nbsp;
            <p-button icon="pi pi-check" type="submit" label="{{'object.sendEval' | translate}}"
                styleClass="p-button-text">
            </p-button>
        </div>
    </div>
    <!-- Para poder actualizar sus pregunatas -->
    <div *ngIf="flagQuestionsEx == true">
        <div *ngFor="let aux of groupedQuestionsEx">
            <div *ngFor="let item of aux.conceptEvaluations">
                <div class="forms">
                    <h6>{{item.evaluationConcept}}</h6>
                    <ul>
                        <li *ngFor="let itemQ of item.questionEvaluations">
                            <div class="labelQu">
                                <label class="labelQT">{{itemQ.questions}}</label>
                            </div>
                            <div class="forms">
                                <div class="p-field-radiobutton">
                                    <div class="p-field-radiobutton">
                                        <p-radioButton formControlName="{{itemQ.questionid}}" group="button" value="Si">
                                        </p-radioButton>
                                        <label for="group1">{{'register.yes' |translate}}</label>
                                    </div>

                                    <div class="p-field-radiobutton" style="padding: 0px 15px;">
                                        <p-radioButton formControlName="{{itemQ.questionid}}" group="button" value="No">
                                        </p-radioButton>
                                        <label for="group1">{{'register.no' |translate}}</label>
                                    </div>

                                    <div class="p-field-radiobutton" style="padding: 0px 10px;">
                                        <p-radioButton formControlName="{{itemQ.questionid}}" group="button"
                                            value="Parcialmente">
                                        </p-radioButton>
                                        <label for="group1">{{'register.partially' |translate}}</label>
                                    </div>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="forms">
                <h6>{{'object.observation' | translate}}</h6>
                <textarea rows="5" cols="30" style="width: 100%;" placeholder="{{'object.observation' | translate}}.."
                    formControlName="observation"
                    [ngClass]="{'ng-dirty':observation.invalid && (observation.dirty || observation.touched)}"
                    pInputTextarea></textarea>
                <div *ngIf="observation.invalid && (observation.dirty || observation.touched)">
                    <small id="observation " class="p-error"
                        *ngIf="observation.errors.required">*{{'validation.obligatoryCamp'|
                        translate}}*</small>
                </div>
            </div>

            <div style="text-align: right;">
                <p-button icon="pi pi-times" type="button" (click)="closeView()" label="{{'object.exit'|translate}}"
                    styleClass="p-button-text">
                </p-button>
                &nbsp;
                <p-button icon="pi pi-check" type="submit" label="{{'profile.btnUpdate' | translate}}"
                    styleClass="p-button-text">
                </p-button>
            </div>
        </div>
    </div>
</form>