<form
  autocomplete="off"
  [formGroup]="angForm"
  class="expert-questions"
  (ngSubmit)="sendAnswersExcpert()"
  >
  @for (group of groupedQuestionsEx; track trackByGroup($index, group)) {
    <section
      class="expert-questions__group"
      >
      <header class="expert-questions__group-header">
        <h3>{{ group.label }}</h3>
      </header>
      @for (question of group.questions; track trackByQuestion($index, question)) {
        <article
          class="expert-questions__question"
          >
          <div class="expert-questions__question-header">
            <h4>{{ question.question }}</h4>
            @if (question.description) {
              <p-button
                type="button"
                icon="pi pi-question-circle"
                [text]="true"
                severity="secondary"
                (onClick)="questionInfo.toggle($event)"
              ></p-button>
            }
            <p-popover #questionInfo [showCloseIcon]="true" appendTo="body">
              <div class="expert-questions__popover">
                <h5>{{ 'object.description' | translate }}</h5>
                <p>{{ question.description }}</p>
              </div>
            </p-popover>
          </div>
          <div class="expert-questions__options">
            @for (option of answerOptions; track trackByAnswerOption($index, option)) {
              <label
                class="expert-questions__option"
                >
                <p-radioButton
                  [formControlName]="question.id.toString()"
                  [name]="question.id.toString()"
                  [inputId]="'expert-question-' + question.id + '-' + option.value"
                  [value]="option.value"
                ></p-radioButton>
                <span>{{ option.labelKey | translate }}</span>
              </label>
            }
          </div>
          @if (setValueReturnForm(question.id)?.invalid && (setValueReturnForm(question.id)?.dirty || setValueReturnForm(question.id)?.touched)) {
            <small
              class="p-error"
              >
              *{{ 'validation.obligatoryCamp' | translate }}*
            </small>
          }
        </article>
      }
    </section>
  }

  <section class="expert-questions__observation">
    <h4>{{ 'object.observation' | translate }}</h4>
    <textarea
      rows="5"
      formControlName="observation"
      pInputTextarea
      [placeholder]="('object.observation' | translate) + '...'"
      [ngClass]="{'ng-dirty': observation?.invalid && (observation?.dirty || observation?.touched)}"
    ></textarea>
    @if (observation?.invalid && (observation?.dirty || observation?.touched)) {
      <small class="p-error">
        *{{ 'validation.obligatoryCamp' | translate }}*
      </small>
    }
  </section>

  <div class="expert-questions__actions">
    <p-button
      type="button"
      icon="pi pi-times"
      [label]="'object.exit' | translate"
      [text]="true"
      severity="secondary"
      (onClick)="closeView()"
    ></p-button>
    <p-button
      icon="pi pi-check"
      type="submit"
      [loading]="isSaving"
      [disabled]="isSaving"
      [label]="(isUpdateMode ? 'profile.btnUpdate' : 'object.sendEval') | translate"
    ></p-button>
  </div>
</form>
