<div class="p-grid layout-footer main-content">
    <div class="p-col-12 p-md-4 p-lg-3">
        <div class="box content">
            <div class="logo-text">
                <div class="image">
                    <a href="https://www.ups.edu.ec/">
                        <img
                            loading="lazy"
                            src="assets/img/logos/unesco.jpg"
                            alt="mirage-layout"
                            class="ImageUps"
                        />
                    </a>
                </div>
                <div class="text"></div>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-4 p-lg-6">
        <div class="box content copy-content">
            <a href="https://edutech-project.org/">
                <img
                    src="assets/img/image2vector.svg"
                    alt="Logo tipo del proyecto Edutech"
                    class="edutech"
                />
            </a>
            <div class="copy">
                <p>
                    &copy; {{ currentYear }} {{ 'footer.p1' | translate }}
                    <a href="https://edutech-project.org/">
                        <span>EduTech</span>
                    </a>
                </p>
                <p><a [routerLink]="termsRoute">{{ 'footer.a1' | translate }}</a></p>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-4 p-lg-3 footer-right">
        <div class="box content">
            <div class="row">
                <div class="col-12">
                    <div class="footer-imgUE">
                        <img src="assets/img/logos/cofinanciado_derecha.png" alt="Erasmus+" />
                    </div>
                </div>
                <div class="col-12">
                    <a
                        href="https://www.w3.org/WAI/WCAG1AAA-Conformance"
                        title="Explicación del Nivel Triple-A de Conformidad"
                    >
                        <img
                            height="32"
                            src="https://www.w3.org/WAI/wcag1AAA"
                            alt="Icono de conformidad con el Nivel Triple-A, de las Directrices de Accesibilidad para el Contenido Web 1.0 del W3C-WAI"
                            class="wcag-badge"
                        />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
