<div class="p-grid layout-footer main-content">
    <div class="p-col-12 p-md-4 p-lg-3">
        <div class="box content">
            <div class="logo-text">

                <div class="image">
                    <a href="https://www.ups.edu.ec/" >
                        <img loading="lazy" class="ImageUps"  src="assets/img/logos/unesco.jpg" alt="mirage-layout" />
                    </a>
                </div>

                <div class="text">
                    <!--
                        <h1>{{'footer.projectEdutech'| translate}}</h1>
                        <p-dropdown [options]="countries" [(ngModel)]="selectedCountry"
                                    placeholder="Seleccione un idioma" optionLabel="name" [showClear]="true">
                                </p-dropdown> 


                    <!-- <p-dropdown [options]="countries" [(ngModel)]="selectedCountry" optionLabel="name"  filterBy="name" [showClear]="true" placeholder="Seleccione un idioma">
                                        <ng-template pTemplate="selectedItem">
                                            <div class="country-item country-item-value"  *ngIf="selectedCountry">
                                                <img loading="lazy" src="assets/demo/flags/flag_placeholder.png" [class]="'flag flag-' + selectedCountry.code.toLowerCase()" />
                                                <div>{{selectedCountry.name}}</div>
                                            </div>
                                        </ng-template>
                                        <ng-template let-country pTemplate="item">
                                            <div class="country-item">
                                                <img loading="lazy" src="assets/demo/flags/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" />
                                                <div>{{country.name}}</div>
                                            </div>
                                        </ng-template>
                                    </p-dropdown> -->

                </div>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-4 p-lg-6">
        <div class="box content copy-content">
                <a href="https://edutech-project.org/">
                    <img src="assets/img/image2vector.svg" class="edutech" alt="Logo tipo del proyecto Edutech">
                </a>
            <div class="copy">
                <p>&copy; {{currentYear}} {{'footer.p1'| translate}} <a href="https://edutech-project.org/">
                        <span>EduTech</span></a></p>
                <p><a [routerLink]="['terms-and-conditions']">{{'footer.a1'|translate}}</a></p>
            </div>
        </div>
    </div>

    <div class="p-col-12 p-md-4 p-lg-3" style="text-align:right;">
        <div class="box content">
            <div class="row">
                <div class="col-12">
                    <div class="footer-imgUE">
                    <img src="assets/img/logos/cofinanciado_derecha.png" alt="Erasmus+">
                </div>
                </div>
                <div class="col-12">
                    <a href="https://www.w3.org/WAI/WCAG1AAA-Conformance" title="Explicación del Nivel Triple-A de 
                    Conformidad">
                        <img height="32" style="width: 70px;height: auto;margin-top: 1px;"
                            src="https://www.w3.org/WAI/wcag1AAA" alt="Icono de conformidad con el Nivel Triple-A, 
                    de las Directrices de Accesibilidad para el 
                    Contenido Web 1.0 del W3C-WAI"></a>
                </div>
            </div>

            <!-- <a class="footer-img" target="_blank" href="https://catedraunescoinclusion.org/"> <img class="logo"
                    src="assets/img/logos/unitwin_ec_salesiana_sp.png" alt="Catedara Unesco">
            </a>-->


        </div>
    </div>
</div>