<div class="main-content p-grid guide-content">
    <div class="p-col-12 p-md-6 p-lg-6 text" tabindex="0">
        <h2>{{"guideStudent.ratingByMe.title"| translate}}</h2>
        <h3>{{"guideStudent.ratingByMe.subtitle1"| translate}}</h3>
        <p>
            {{"guideStudent.ratingByMe.p1"| translate}}
        </p>    
        <p>
            {{"guideStudent.ratingByMe.p2"| translate}}
        </p>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6" style="text-align:center">
        <video width="600" height="100%" controls autoplay>
            <source src="assets/videos/ratingByMe.mp4" type="video/mp4">
        </video>
    </div>
</div>