<ng-container *ngIf="loading; else loadingTemplate">
        <div class="spinner animate__animated animate__fadeIn">
                <p-progressSpinner [style]="{width: '100px', height: '100px'}" styleClass="custom-spinner"
                        strokeWidth="4" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
        </div>
</ng-container>
<ng-template #loadingTemplate>

        <p-fileUpload name="file" [url]="baseUrl" [chooseLabel]="'newObject.form.imgSelect' | translate"
                [cancelLabel]="'newObject.form.imgCancel' | translate"
                [uploadLabel]="'newObject.form.fileUpload' | translate" (onUpload)="onUpload($event)"
                (onError)="onError($event)" [invalidFileTypeMessageDetail]="'newObject.errors.img' | translate"
                [multiple]="false" accept=".zip,.rar">
                <ng-template pTemplate="content">
                        <ng-container *ngIf="file">
                                <p>{{file.name}} - {{file.size}}</p>
                                <!-- <a [href]="objectUrl" target="_blank">Previsualizar</a> -->
                                <p-button (click)="navigate()" icon="pi pi-external-link"
                                        [label]="'newObject.form.btnPreview' | translate">
                                </p-button>
                                <p-button [style]="{margin: '0 5px'}" (click)="showBasicDialog2()"
                                        icon="pi pi-external-link"
                                        [label]="'newObject.form.btnShowMetadata' | translate">
                                </p-button>
                        </ng-container>
                </ng-template>
        </p-fileUpload>

        <ng-container *ngIf="object; else dataTemplate">

                <p-dialog [header]="object.general_title" [(visible)]="displayWindow" [style]="{width: '50vw'}"
                        [baseZIndex]="10000">

                        <app-metadata *ngIf="object" [learningobjectdetail]="object"></app-metadata>

                        <ng-template pTemplate="footer">
                                <p-button icon="pi pi-check" (click)="displayWindow=false" label="Ok"
                                        styleClass="p-button-text"></p-button>
                        </ng-template>
                </p-dialog>



                <form class="animate__animated animate__fadeIn" [formGroup]="objectForm" (ngSubmit)="onSubmit()">

                        <div class="p-field p-fluid">
                                <label for="title">{{'newObject.form.titleLabel' | translate}}*</label>
                                <input [ngClass]="{'ng-dirty': getErrorFormRequired('title')}"
                                        aria-describedby="title-help" pInputText type="text" formControlName="title"
                                        [placeholder]="'newObject.form.title' | translate" id="title" />
                                <small *ngIf="getErrorFormRequired('title')" id="title-help"
                                        class="p-error">{{'newObject.errors.title' | translate}}</small>
                        </div>

                        <div class="p-field p-fluid">
                                <label for="description">{{'newObject.form.descriptionLabel' | translate}}*</label>
                                <textarea rows="10" [ngClass]="{'ng-dirty': getErrorFormRequired('description')}"
                                        pInputTextarea formControlName="description" id="description"
                                        aria-describedby="description-help"
                                        [placeholder]="'newObject.form.description' | translate"></textarea>

                                <small *ngIf="getErrorFormRequired('description')" id="description-help"
                                        class="p-error">{{'newObject.errors.description' | translate}}</small>
                        </div>

                        <div class="p-field p-fluid">
                                <label for="keywords">{{'newObject.form.keywordsLabel' | translate}}*</label>
                                <input [ngClass]="{'ng-invalid ng-dirty': getErrorFormRequired('keywords')}"
                                        aria-describedby="keywords-help" pInputText type="text"
                                        formControlName="keywords" id="keywords"
                                        [placeholder]="'newObject.form.keywords' | translate" />

                                <small *ngIf="getErrorFormRequired('keywords')" id="keywords-help"
                                        class="p-error">{{'newObject.errors.keywords' | translate}} </small>
                        </div>

                        <div class="p-grid">
                                <div class="p-col-12 p-md-6 p-lg-6">
                                        <div class="box sidebar">
                                                <div class="p-field p-fluid">
                                                        <label for="level">{{'newObject.form.educationLevelLabel' |
                                                                translate}}*</label>
                                                        <!-- <p-dropdown
                                                                [ngClass]="{'ng-invalid ng-dirty': getErrorFormRequired('education_levels')}"
                                                                id="language" [options]="educationLevels"
                                                                fromControlName="education_levels"
                                                                aria-describedby="level-help"
                                                                (onChange)="selectLevel($event)"
                                                                [placeholder]="'newObject.form.educationLevel' | translate"
                                                                optionLabel="name" [showClear]="true">
                                                        </p-dropdown> -->

                                                        <select name="EduactioLevels" class="class-dropdown-i"
                                                                aria-label="Nivel Educativo seleccione una opcion"
                                                               
                                                                (change)="selectLevel($event)"
                                                                fromControlName="education_levels" id="EduactioLevels" required>
                                                                <option *ngFor="let order of educationLevels"
                                                                        [value]="order.code" [disabled]="order.code === 0" [selected]="order.code ===0">
                                                                        {{order.name}}
                                                                </option>
                                                        </select>

                                                        <small *ngIf="getErrorFormRequired('education_levels')"
                                                                id="level-help"
                                                                class="p-error">{{'newObject.errors.educationLevel' |
                                                                translate}}</small>
                                                </div>
                                        </div>
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-6">
                                        <div class="box sidebar">
                                                <div class="p-field p-fluid">
                                                        <label for="language">{{'newObject.form.languageLabel' |
                                                                translate}}*</label>
                                                        <!-- <p-dropdown
                                                                [ngClass]="{'ng-invalid ng-dirty': getErrorFormRequired('language')}"
                                                                id="language" [options]="language"
                                                                fromControlName="language"
                                                                aria-describedby="language-help"
                                                                (onChange)="selectLanguage($event)"
                                                                [placeholder]="'newObject.form.language' | translate"
                                                                optionLabel="name" [showClear]="true">
                                                        </p-dropdown> -->
                                                        <select name="Lenguaje" class="class-dropdown-i"
                                                                aria-label="Lenguaje seleccione una opcion"
                                                                (change)="selectLanguage($event)"
                                                                fromControlName="language" id="Lenguaje" required>
                                                                <option *ngFor="let order of language"
                                                                        [value]="order.code" [disabled]="order.code === 'none'" 
                                                                        [selected]="order.code ==='none'">
                                                                        {{order.name}}
                                                                </option>
                                                        </select>
                                                        <small *ngIf="getErrorFormRequired('language')"
                                                                id="language-help"
                                                                class="p-error">{{'newObject.errors.language' |
                                                                translate}}</small>
                                                </div>
                                        </div>
                                </div>
                        </div>

                        <div class="p-grid">
                                <div class="p-col-12 p-md-6 p-lg-6">
                                        <div class="box sidebar">
                                                <div class="p-field p-fluid">
                                                        <label for="knowledgeArea">{{'newObject.form.knowledgeAreaLabel'|
                                                                translate}}*</label>
                                                        <!-- <p-dropdown
                                                                [ngClass]="{'ng-invalid ng-dirty': getErrorFormRequired('knowledge_area')}"
                                                                id="knowledgeArea" [options]="knowledgeArea"
                                                                fromControlName="knowledge_area"
                                                                aria-describedby="knowledge_area"
                                                                (onChange)="selectKnowledgeArea($event)"
                                                                [placeholder]="'newObject.form.knowledgeArea' | translate"
                                                                optionLabel="name" [showClear]="true">
                                                        </p-dropdown> -->
                                                        <select name="knowledge_area" class="class-dropdown-i"
                                                        aria-label="Area de conocimiento seleccione una opcion"
                                                        (change)="selectKnowledgeArea($event)" fromControlName="knowledge_area"
                                                        id="knowledge_area">
                                                        <option *ngFor="let order of knowledgeArea" [value]="order.code" [disabled]="order.code === 0">
                                                            {{order.name}}
                                                        </option>
                                                    </select>

                                                        <small *ngIf="getErrorFormRequired('knowledge_area')"
                                                                id="knowledgeArea-help"
                                                                class="p-error">{{'newObject.errors.knowledgeArea' |
                                                                translate}}</small>
                                                </div>
                                        </div>
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-6">
                                        <div class="box sidebar">
                                                <div class="p-field p-fluid">
                                                        <label for="license">{{'newObject.form.licenseLabel' |
                                                                translate}}*</label>
                                                        <!-- <p-dropdown
                                                                [ngClass]="{'ng-invalid ng-dirty': getErrorFormRequired('license')}"
                                                                id="license" [options]="licenses"
                                                                fromControlName="license"
                                                                aria-describedby="license-help"
                                                                (onChange)="selectLicense($event)"
                                                                [placeholder]="'newObject.form.license' | translate"
                                                                optionLabel="name" [showClear]="true">
                                                        </p-dropdown> -->
                                                        <select name="licencia" class="class-dropdown-i"
                                                        aria-label="Licencia seleccione una opcion"
                                                        (change)="selectLicense($event)" fromControlName="profession"
                                                        id="licencia">
                                                        <option *ngFor="let order of licenses" [value]="order.code" [disabled]="order.code === 0">
                                                            {{order.name}}
                                                        </option>
                                                    </select>

                                                        <small *ngIf="getErrorFormRequired('license')" id="license-help"
                                                                class="p-error">{{'newObject.errors.license' |
                                                                translate}}</small>
                                                </div>
                                        </div>
                                </div>
                        </div>

                        <div class="p-grid">

                                <div class="p-col-12 p-md-6 p-lg-6">
                                        <div class="box content">
                                                <div class="p-field p-fluid slider">
                                                        <label for="Correo">{{'newObject.form.ageLabel' | translate}}:
                                                                {{objectForm.controls.age?.value[0] +' - '+
                                                                objectForm.controls.age?.value[1]}}</label>
                                                        <p-slider [min]="5" [max]="150" formControlName="age"
                                                                [range]="true">
                                                        </p-slider>
                                                </div>
                                        </div>
                                </div>
                                <div class="p-col-12 p-md-6 p-lg-6">
                                        <div class="box sidebar">
                                                <div class="p-field p-fluid" tabindex="0">
                                                        <label for="adaptations">Objeto de aprendizaje adaptado*</label>
                                                        <br />
                                                        <div class="radio-buttons">
                                                                <div class="p-field-radiobutton">
                                                                        <p-radioButton
                                                                                [ngClass]="{'ng-dirty': getErrorFormRequired('adaptations')}"
                                                                                aria-describedby="adaptations-help"
                                                                                name="adaptations" value="yes"
                                                                                formControlName="adaptations"
                                                                                inputId="yesadaptations">
                                                                        </p-radioButton>
                                                                        <label for="yesadaptations">{{'newObject.form.adaptationsYes'
                                                                                | translate}}</label>
                                                                </div>
                                                                <div class="p-field-radiobutton">
                                                                        <p-radioButton
                                                                                [ngClass]="{'ng-dirty': getErrorFormRequired('adaptations')}"
                                                                                aria-describedby="adaptations-help"
                                                                                name="adaptations" value="no"
                                                                                formControlName="adaptations"
                                                                                inputId="noadaptations">
                                                                        </p-radioButton>
                                                                        <label for="noadaptations">{{'newObject.form.adaptationsNo'
                                                                                | translate}}</label>
                                                                </div>
                                                        </div>
                                                        <label for="" *ngIf="is_adapted_oer == true">Este objeto de
                                                                aprendizaje fue adaptado con la herramienta <a
                                                                        style="font-style: italic;text-decoration: underline;"
                                                                        href="https://oeradap.edutech-project.org/">OER-ADAP</a></label>
                                                        <label for="" *ngIf="is_adapted_oer == false">Visita nuestra
                                                                herramienta <a
                                                                        style="font-style: italic;text-decoration: underline;"
                                                                        href="https://oeradap.edutech-project.org/">OER-ADAP</a>
                                                                para la adaptación de objetos de aprendizaje.También
                                                                visita nuestra herramienta <a
                                                                        style="font-style: italic;text-decoration: underline;"
                                                                        href="https://lompads.edutech-project.org/#/">LOMPAD-WEB</a>
                                                                para el metaetiquetado para objetos de
                                                                aprendizaje.</label>

                                                </div>
                                        </div>
                                </div>
                        </div>

                        <div class="p-field p-fluid">
                                <label for="fileImage">{{'newObject.form.imgLabel' | translate}}*</label>
                                <p-fileUpload id="fileImage" name="fileImage"
                                        [chooseLabel]="'newObject.form.imgSelect' | translate"
                                        [showUploadButton]="false"
                                        [cancelLabel]="'newObject.form.imgCancel' | translate"
                                        (onSelect)="onSelectImage($event)"
                                        [invalidFileTypeMessageDetail]="'newObject.errors.img' | translate"
                                        [multiple]="false" accept="image/*" aria-describedby="img-help">
                                </p-fileUpload>
                                <small *ngIf="getErrorFormRequired('img')" id="img-help"
                                        class="p-error">{{'newObject.errors.imgHelp' |
                                        translate}}</small>
                        </div>

                        <div class="p-field p-fluid">
                                <label for="fileImage">Fichero fuente eXeLearning</label>
                                <p-fileUpload id="fileImage" name="fileImage"
                                        [chooseLabel]="'newObject.form.imgSelect' | translate"
                                        [showUploadButton]="false"
                                        [cancelLabel]="'newObject.form.imgCancel' | translate"
                                        (onSelect)="onSelectFile($event)"
                                        [invalidFileTypeMessageDetail]="'newObject.errors.img' | translate"
                                        [multiple]="false" accept=".elp" aria-describedby="img-help">
                                </p-fileUpload>

                        </div>
                        <div class="content_questions" *ngIf="is_adapted_oer == false">
                                <div class="p-grid" *ngIf="tag_count.img != 0">
                                        <div class="p-col-12 p-md-6 p-lg-6">
                                                <div class="box content">
                                                        <div class="p-field p-fluid slider" tabindex="0">
                                                                <label for="Pregunta1" class="preguntas-metadatos">¿Ha
                                                                        considerado poner texto alternativo en las
                                                                        imágenes que así lo requieran?*</label>
                                                                <label for="Resp">Se encontraron un total de
                                                                        {{tag_count.img}} imagenes.</label>
                                                                <br>
                                                                <div class="radio-buttons">
                                                                        <div class="p-field-radiobutton">
                                                                                <p-radioButton
                                                                                        [ngClass]="{'ng-dirty': getErrorFormRequired('item_v1')}"
                                                                                        name="item_v1" value="yes"
                                                                                        formControlName="item_v1"
                                                                                        inputId="yesitem_v1">
                                                                                </p-radioButton>
                                                                                
                                                                                <label for="yesitem_v1">{{'newObject.form.adaptationsYes'
                                                                                        | translate}}</label>
                                                                        </div>
                                                                        <div class="p-field-radiobutton">
                                                                                <p-radioButton
                                                                                        [ngClass]="{'ng-dirty': getErrorFormRequired('item_v1')}"
                                                                                        name="item_v1" value="no"
                                                                                        formControlName="item_v1"
                                                                                        inputId="noitem_v1">
                                                                                </p-radioButton>
                                                                                <label for="noitem_v1">{{'newObject.form.adaptationsNo'
                                                                                        | translate}}</label>
                                                                        </div>
                                                                </div>
                                                                <small *ngIf="getErrorFormRequired('item_v1')"
                                                                        id="item_v1-help" class="p-error">Por favor
                                                                        seleccione una opción</small>
                                                        </div>
                                                </div>
                                        </div>


                                        <div class="p-col-12 p-md-6 p-lg-6">
                                                <div class="box content">
                                                        <div class="p-field p-fluid slider" tabindex="0">
                                                                <label for="Pregunta1" class="preguntas-metadatos">¿Se
                                                                        cumple con contrastes óptimos en la presentación
                                                                        de la información?*</label>

                                                                <br>
                                                                <div class="radio-buttons">
                                                                        <div class="p-field-radiobutton">
                                                                                <p-radioButton
                                                                                        [ngClass]="{'ng-dirty': getErrorFormRequired('item_v2')}"
                                                                                        name="item_v2" value="yes"
                                                                                        formControlName="item_v2"
                                                                                        inputId="yesitem_v2">
                                                                                </p-radioButton>
                                                                                <label for="yesitem_v2">{{'newObject.form.adaptationsYes'
                                                                                        | translate}}</label>
                                                                        </div>
                                                                        <div class="p-field-radiobutton">
                                                                                <p-radioButton
                                                                                        [ngClass]="{'ng-dirty': getErrorFormRequired('item_v2')}"
                                                                                        name="item_v2" value="no"
                                                                                        formControlName="item_v2"
                                                                                        inputId="noitem_v2">
                                                                                </p-radioButton>
                                                                                <label for="noitem_v2">{{'newObject.form.adaptationsNo'
                                                                                        | translate}}</label>
                                                                        </div>
                                                                </div>
                                                                <small *ngIf="getErrorFormRequired('item_v2')"
                                                                        id="item_v2-help" class="p-error">Por favor
                                                                        seleccione una opción</small>
                                                        </div>
                                                </div>
                                        </div>
                                </div>

                                <div class="p-grid" *ngIf="tag_count.paragraph != 0">
                                        <div class="p-col-12 p-md-6 p-lg-6">
                                                <div class="box content">
                                                        <div class="p-field p-fluid slider" tabindex="0">
                                                                <label for="Pregunta1" class="preguntas-metadatos">¿El
                                                                        contenido textual contiene títulos,
                                                                        descripciones o enlaces adecuados?*</label>
                                                                <label for="Resp">Se encontraron un total de
                                                                        {{tag_count.paragraph}} parrafos.</label>
                                                                <br>
                                                                <div class="radio-buttons">
                                                                        <div class="p-field-radiobutton">
                                                                                <p-radioButton
                                                                                        [ngClass]="{'ng-dirty': getErrorFormRequired('item_t3')}"
                                                                                        name="item_t3" value="yes"
                                                                                        formControlName="item_t3"
                                                                                        inputId="yesitem_t3">
                                                                                </p-radioButton>
                                                                                <label for="yesitem_t3">{{'newObject.form.adaptationsYes'
                                                                                        | translate}}</label>
                                                                        </div>
                                                                        <div class="p-field-radiobutton">
                                                                                <p-radioButton
                                                                                        [ngClass]="{'ng-dirty': getErrorFormRequired('item_t3')}"
                                                                                        name="item_t3" value="no"
                                                                                        formControlName="item_t3"
                                                                                        inputId="noitem_t3">
                                                                                </p-radioButton>
                                                                                <label for="noitem_t3">{{'newObject.form.adaptationsNo'
                                                                                        | translate}}</label>
                                                                        </div>
                                                                </div>
                                                                <small *ngIf="getErrorFormRequired('item_t3')"
                                                                        id="item_t3-help" class="p-error">Por favor
                                                                        seleccione una opción</small>
                                                        </div>
                                                </div>
                                        </div>


                                        <div class="p-col-12 p-md-6 p-lg-6">
                                                <div class="box content">
                                                        <div class="p-field p-fluid slider" tabindex="0">
                                                                <label for="Pregunta1" class="preguntas-metadatos">¿Se
                                                                        cumple con contrastes óptimos en la presentación
                                                                        del contenido de texto y fondo?*</label>
                                                                <br>
                                                                <div class="radio-buttons">
                                                                        <div class="p-field-radiobutton">
                                                                                <p-radioButton
                                                                                        [ngClass]="{'ng-dirty': getErrorFormRequired('item_t4')}"
                                                                                        name="item_t4" value="yes"
                                                                                        formControlName="item_t4"
                                                                                        inputId="yesitem_t4">
                                                                                </p-radioButton>
                                                                                <label for="yesitem_t4">{{'newObject.form.adaptationsYes'
                                                                                        | translate}}</label>
                                                                        </div>
                                                                        <div class="p-field-radiobutton">
                                                                                <p-radioButton
                                                                                        [ngClass]="{'ng-dirty': getErrorFormRequired('item_t4')}"
                                                                                        name="item_t4" value="no"
                                                                                        formControlName="item_t4"
                                                                                        inputId="noitem_t4">
                                                                                </p-radioButton>
                                                                                <label for="noitem_t4">{{'newObject.form.adaptationsNo'
                                                                                        | translate}}</label>
                                                                        </div>
                                                                </div>
                                                                <small *ngIf="getErrorFormRequired('item_t4')"
                                                                        id="item_t4-help" class="p-error">Por favor
                                                                        seleccione una opción</small>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                <div class="p-grid">
                                        <div class="p-col-12 p-md-6 p-lg-6"
                                                *ngIf="tag_count.video != 0 || tag_count.audio != 0">
                                                <div class="box content">
                                                        <div class="p-field p-fluid slider" tabindex="0">
                                                                <label for="Pregunta1" class="preguntas-metadatos">¿Los
                                                                        videos contienen subtitulado sincronizado y
                                                                        coherente con el lenguaje?*</label>
                                                                <label for="Resp">Se encontraron un total de
                                                                        {{tag_count.video}} videos.</label>
                                                                <br>
                                                                <label for="Resp">Se encontraron un total de
                                                                        {{tag_count.audio}} audios.</label>
                                                                <br>
                                                                <div class="radio-buttons">
                                                                        <div class="p-field-radiobutton">
                                                                                <p-radioButton
                                                                                        [ngClass]="{'ng-dirty': getErrorFormRequired('item_a5')}"
                                                                                        name="item_a5" value="yes"
                                                                                        formControlName="item_a5"
                                                                                        inputId="yesitem_a5">
                                                                                </p-radioButton>
                                                                                <label for="yesitem_a5" id="yes">{{'newObject.form.adaptationsYes'
                                                                                        | translate}}</label>
                                                                        </div>
                                                                        <div class="p-field-radiobutton">
                                                                                <p-radioButton
                                                                                        [ngClass]="{'ng-dirty': getErrorFormRequired('item_a5')}"
                                                                                        name="item_a5" value="no"
                                                                                        formControlName="item_a5"
                                                                                        inputId="noitem_a5">
                                                                                </p-radioButton>
                                                                                <label for="noitem_a5">{{'newObject.form.adaptationsNo'
                                                                                        | translate}}</label>
                                                                        </div>
                                                                </div>
                                                                <small *ngIf="getErrorFormRequired('item_a5')"
                                                                        id="item_a5-help" class="p-error">Por favor
                                                                        seleccione una opción</small>
                                                        </div>
                                                </div>
                                        </div>

                                        <div class="p-col-12 p-md-6 p-lg-6">
                                                <div class="box content">
                                                        <div class="p-field p-fluid slider" tabindex="0">
                                                                <label for="Pregunta1" class="preguntas-metadatos">¿Se
                                                                        puede navegar secuencialmente sobre el contenido
                                                                        utilizando únicamente el teclado?*</label>
                                                                <br>
                                                                <div class="radio-buttons">
                                                                        <div class="p-field-radiobutton">
                                                                                <p-radioButton
                                                                                        [ngClass]="{'ng-dirty': getErrorFormRequired('item_i6')}"
                                                                                        name="item_i6" value="yes"
                                                                                        formControlName="item_i6"
                                                                                        inputId="yesitem_i6">
                                                                                </p-radioButton>
                                                                                <label for="yesitem_i6">{{'newObject.form.adaptationsYes'
                                                                                        | translate}}</label>
                                                                        </div>
                                                                        <div class="p-field-radiobutton">
                                                                                <p-radioButton
                                                                                        [ngClass]="{'ng-dirty': getErrorFormRequired('item_i6')}"
                                                                                        name="item_i6" value="no"
                                                                                        formControlName="item_i6"
                                                                                        inputId="noitem_i6">
                                                                                </p-radioButton>
                                                                                <label for="noitem_i6">{{'newObject.form.adaptationsNo'
                                                                                        | translate}}</label>
                                                                        </div>
                                                                </div>
                                                                <small *ngIf="getErrorFormRequired('item_i6')"
                                                                        id="item_i6-help" class="p-error">Por favor
                                                                        seleccione una opción</small>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                        </div>
                        <p-button type="submit" title="Guardar" [label]="'newObject.form.btnSubmit' | translate">
                        </p-button>
                </form>
        </ng-container>
        <ng-template #dataTemplate>
                <h4>{{'newObject.infoLoadFile' | translate}}</h4>
                <label>Recuerda que los estándares educativos de objetos de aprendizaje aceptados por el repositorio son
                        IMS Y SCROM.</label>
        </ng-template>

</ng-template>

<p-toast></p-toast>