<div class="main-content p-grid guide-content">
    <div class="p-col-12 p-md-6 p-lg-6">
        <h1>Introducción</h1>
        <p>
            Bienvenido a la guía de usuario del repositorio de Objetos de aprendizaje Roa, por medio de esta guía te
            enseñaremos como puedes utilizar y sacarle provecho a la plataforma ROA para que puedas interactuar con los
            objetos de aprendizaje. La plataforma ROA tiene como objetivos almacenar recursos educativos OAs y evaluar
            metadatos de accesibilidad para mejor el aprendizaje en los recursos educativos.
        </p>
        <p>
            En esta plataforma podrás registrarte según el perfil Educativo que desees, puede ser como estudiante,
            docente y experto colaborador. Para que puedas tener una mejor experiencia dentro de la plataforma ROA.
        </p>
        <p>
            En esta guía te enseñaremos como interactuar con los objetos de aprendizaje, como registrarse dentro del
            Repositorio de Objetos de aprendizaje, subir objetos de aprendizaje, realizar evaluaciones a los objetos de
            aprendizaje, ver metadatos de los objetos de aprendizaje.
        </p>
        <p>
            Si tienes dudas o sugerencias puedes ponerte en contacto con nosotros accediendo a los diferentes enlaces:
            <a [routerLink]="[ '/about-us']">Nosotros</a>, <a [routerLink]="[ '/contact']">Contacto</a>

        </p>
        <p>Empecemos.</p>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6" style="text-align:center">
        <video width="630" height="400" controls autoplay>
            <source src="assets/videos/Introduccion.mp4" type="video/mp4">
          </video>
    </div>
</div>