<div class="main-content p-grid guide-content">
    <div class="p-col-12 p-md-6 p-lg-6">
        <h1>{{"guide.guideIntroduction.title" | translate}}</h1>
        <p>
            {{"guide.guideIntroduction.p1" | translate}}
        </p>
        <p>
            {{"guide.guideIntroduction.p2" | translate}}
        </p>
        <p>
            {{"guide.guideIntroduction.p3" | translate}}
        </p>
        <p>
            {{"guide.guideIntroduction.p4" | translate}}
            <a [routerLink]="[ '/about-us']"> {{"guide.guideIntroduction.a1" | translate}} </a>, <a
                [routerLink]="[ '/contact']"> {{"guide.guideIntroduction.a2" | translate}}.</a>
        </p>
        <p>{{"guide.guideIntroduction.p5" | translate}} </p>
    </div>
    <div class="p-col-12 p-md-6 p-lg-6" style="text-align:center">
        <video width="630" height="400" controls autoplay>
            <source src="assets/videos/Introduccion.mp4" type="video/mp4">
        </video>
    </div>
</div>